@import "reset";
@import "veriables";
@import "mix_in";
body{
  min-width: 320px;
}
.standard-title {
  font-size: 36px;
  line-height: 54px;
  color: $black;
  position: relative;
  &:after {
    content: '';
    display: inline-block;
    width: 45px;
    height: 2px;
    background-color: $black;
    position: absolute;
    top: 115%;
    left: 0;
  }
  &--small{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
  }
}
.container{
  @include center(1200px);
}
img{
  width: 100%;
  height: 100%;
}
@import "section/heroo";
@import "section/about";
@import "section/services";
@import "section/lets-works";
@import "section/team";
@import "section/contact";
@import "section/footer";
@import "section/modal";

/*section media*/

@import "media/hero";
@import "media/about_media";
@import "media/services_media";
@import "media/lets-works_media";
@import "media/team_media";
@import "media/contact";
@import "media/footer_media";