@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

/*header*/
.nav {
  overflow: hidden;
  z-index: 1;
  min-height: 400px;
}

.nav-ul.nav-ul_fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 40px;
  background-color: rgba(10, 15, 15, 0.29);
  width: 100%;
  z-index: 1000;
  box-shadow: 0px -5px 20px;
}
.nav-ul.nav-ul_fixed ul {
  position: relative;
  max-width: 490px;
  margin: 5px auto;
}

.btn {
  position: absolute;
  right: 20px;
  top: 35px;
  display: inline-block;
  display: none;
  width: 20px;
  padding: 10px 10px 5px 10px;
  transition: 3s;
  z-index: 50;
  cursor: pointer;
}

.btn > span {
  border-top: 2px solid #fff;
  display: block;
  padding-bottom: 3px;
}

.nav img {
  width: 100%;
  min-height: 400px;
}

.nav-row {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

.nav-wrap {
  margin: 0px auto 0 auto;
  padding: 40px 40px 0 40px;
  top: 10px;
  max-width: 1200px;
  z-index: 12;
}

.nav-brand {
  right: 0px;
  color: #fffefe;
  width: 150px;
  float: left;
}
.nav-brand b {
  font-size: 25px;
  display: block;
  float: left;
  line-height: 40px;
}
.nav-brand span {
  color: #999999;
  display: block;
  margin-left: 10px;
  float: left;
}

.nav-ul {
  float: right;
  height: 30px;
  overflow: hidden;
}
.nav-ul ul li {
  float: left;
}
.nav-ul li:hover .span-pos {
  opacity: 1;
}
.nav-ul a {
  color: #fffefe;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
  text-decoration: none;
  position: relative;
  transition: 0.3s all;
}
.nav-ul a:hover {
  font-size: 19px;
}
.nav-ul a:hover::before {
  opacity: 1;
}
.nav-ul a:hover::after {
  opacity: 1;
}
.nav-ul a::before {
  content: "";
  width: 30%;
  display: inline-block;
  position: absolute;
  left: 8px;
  background-color: #008ed6;
  height: 2px;
  bottom: -3px;
  transition: 0.3s all;
  opacity: 0;
}
.nav-ul a::after {
  content: "";
  width: 30%;
  display: inline-block;
  position: absolute;
  right: 8px;
  background-color: #008ed6;
  height: 2px;
  bottom: -3px;
  transition: 0.3s all;
  opacity: 0;
}
.nav-ul .active {
  font-size: 19px;
  color: #008ed6;
}
.nav-ul .active::before {
  content: "";
  width: 30%;
  display: inline-block;
  position: absolute;
  left: 8px;
  background-color: #008ed6;
  height: 2px;
  bottom: -3px;
  transition: 0.3s all;
  opacity: 1;
}
.nav-ul .active::after {
  content: "";
  width: 30%;
  display: inline-block;
  position: absolute;
  right: 8px;
  background-color: #008ed6;
  height: 2px;
  bottom: -3px;
  transition: 0.3s all;
  opacity: 1;
}

.nav-info {
  position: relative;
  margin-top: 6.5%;
  overflow: hidden;
}

.nav-text {
  float: left;
  max-width: 500px;
}
.nav-text h1 {
  margin-top: 5px;
  color: #fffefe;
}
.nav-text p {
  padding-top: 10px;
  color: #999999;
}

.name {
  font-size: 25px;
  color: #008ed6;
  font-family: sans-serif;
  padding-top: 5px;
}

h3 {
  margin-top: 10px;
  font-size: 34px;
}

.nav-a-pos {
  margin-top: 10%;
  position: relative;
  height: 70px;
}
.nav-a-pos a {
  font-size: 21px;
  text-decoration: none;
  color: #fffefe;
  display: inline-block;
  width: 150px;
  text-align: center;
  transition: 0.3s all;
}
.nav-a-pos a:hover {
  font-size: 22px;
}

.nav-a-pos a.download {
  background-color: #008ed6;
  padding: 20px 10px;
  border-radius: 10px;
}

.nav-a-pos a.features {
  background-color: transparent;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid #fffefe;
  position: absolute;
  right: 0px;
}

/*main-part*/
.main {
  position: relative;
}

.main-wrap {
  max-width: 1200px;
  margin: 20px  auto 0 auto;
}

/*описываю блок для синих спанов*/
.line {
  position: relative;
}

.line-4, .line-6 {
  padding-left: 25px;
  background-color: transparent;
  border-bottom: 2px solid #008ed6;
}

.line-5 {
  padding-left: 5px;
  background-color: transparent;
  border-bottom: 2px solid transparent;
}

/*product*/
.product {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.product ul {
  position: relative;
  display: inline-block;
  width: 20%;
  text-align: center;
  margin: 60px 2% 0 2%;
  font-size: 17px;
  color: #999999;
  transition: 0.3s;
}
.product ul li:first-child {
  display: block;
  width: 60px;
  height: 60px;
  position: relative;
  margin: 0 auto;
  border-radius: 60px;
  border: 1px solid #999999;
  transition: 0.3s all;
}

/*анимация для первого списка*/
.product ul:hover li:first-child {
  border: 1px solid #008ed6;
}

.product ul:hover b {
  color: #008ed6;
}

.product ul:hover {
  color: black;
}

.product ul li img {
  width: 30px;
  height: 30px;
  padding-top: 15px;
}

.product ul li {
  position: relative;
}

.product ul li b {
  padding: 10px 0px;
  font-size: 20px;
  display: block;
  color: black;
  transition: 0.5s all;
}

/*diteils*/
.diteils {
  position: relative;
  margin-top: 60px;
  overflow: hidden;
  padding: 60px 0;
}

.diteils-img {
  position: relative;
  float: left;
  width: 48%;
  overflow: hidden;
}

.diteils-img img {
  width: 80%;
}

.diteils-text {
  float: left;
  width: 48%;
  position: relative;
}
.diteils-text ul {
  list-style: none;
  margin-top: 40px;
  position: relative;
}
.diteils-text li {
  padding: 8px 0;
  transition: 0.3s all;
  cursor: pointer;
}
.diteils-text li:hover {
  padding: 8px 0 8px 10px;
}
.diteils-text .cup {
  padding: 5px 10px 0 0;
}
.diteils-text .line {
  text-align: left;
}

.diteils-text p {
  margin-top: 20px;
}

/*customize*/
.customize {
  margin-top: 5px;
  padding: 60px 0;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(80, 66, 66, 0.29);
}

.customize-wrap {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.customize-text {
  margin-top: 10%;
  float: left;
  width: 40%;
}
.customize-text p {
  margin-top: 15px;
}

.customize-img {
  float: left;
  width: 60%;
}

.customize-img img {
  width: 80%;
  float: right;
}

/*slide*/
.sl {
  position: relative;
  overflow: hidden;
}

.sl-slide {
  position: relative;
  z-index: 1;
}

.sl-wrap {
  top: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.sl-img {
  width: 102%;
  min-height: 550px;
}

.sl-row {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  position: relative;
  z-index: 20;
  text-align: center;
  overflow: hidden;
}
.sl-row h3 {
  color: #fffefe;
}

.ceo-part, .disign-part {
  padding-top: 10%;
  width: 49%;
  float: left;
  color: #fffefe;
  font-family: italic;
}

.avtor {
  margin-top: 40px;
  text-align: left;
}

.avtor-img {
  overflow: hidden;
  width: 50px;
  float: left;
  border-radius: 50px;
  padding: 0px 20px 0 40px;
}

.avtor-img img {
  width: 50px;
  border-radius: 50px;
  overflow: hidden;
}

.sl-text {
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0px;
  background-color: #15141a;
}

.text-row {
  margin: 40px 0 0 20px;
  color: #fffefe;
  font-size: 27px;
}
.text-row b, .text-row p {
  display: inline-block;
}
.text-row p {
  padding-left: 20px;
}

.text-a {
  float: right;
  margin: 20px 20px 0 0px;
}
.text-a a {
  text-decoration: none;
  color: #fffefe;
  font-size: 24px;
  transition: 0.3s;
}
.text-a a:hover {
  font-size: 25px;
}
.text-a a.download {
  background-color: #008ed6;
  padding: 20px 10px;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  right: 200px;
}
.text-a a.features {
  position: absolute;
  background-color: transparent;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid #fffefe;
  top: 40px;
  right: 30px;
}

/*quality*/
.quality {
  position: relative;
}

.quality-wrap {
  position: relative;
  max-width: 1200px;
  margin: 40px auto 0 auto;
  overflow: hidden;
  text-align: center;
}
.quality-wrap ul {
  position: relative;
  width: 20%;
  margin: 40px 2.5% 0 2.5%;
  text-align: center;
  float: left;
}
.quality-wrap ul:hover a {
  background-color: #008ed6;
  color: white;
  border: 1px solid #008ed6;
}
.quality-wrap ul:hover li:first-child {
  color: #008ed6;
}
.quality-wrap ul:hover b {
  color: #fffefe;
}
.quality-wrap ul:hover p {
  color: #fffefe;
}
.quality-wrap ul:hover .price {
  color: #fffefe;
}
.quality-wrap ul:hover li.cena {
  background-color: #008ed6;
  border-bottom: 1px solid #008ed6;
  border-left: 1px solid #008ed6;
  border-right: 1px solid #008ed6;
}
.quality-wrap li {
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  padding: 10px 5px;
  background-color: transparent;
  transition: 0.3s all;
  color: #999999;
  font-size: 17px;
}
.quality-wrap li b {
  font-family: bold;
  font-size: 19px;
  color: black;
}
.quality-wrap li span.price {
  font-size: 51px;
  transition: 0.3s all;
  color: black;
}
.quality-wrap li p {
  color: #999999;
  font-size: 17px;
  transition: 0.3s all;
  color: black;
}
.quality-wrap li a {
  display: block;
  margin: 20px auto 10px auto;
  width: 130px;
  padding: 15px 10px 15px 10px;
  background-color: transparent;
  border: 1px solid #999999;
  color: #008ed6;
  text-decoration: none;
  font-size: 19px;
  border-radius: 10px;
  transition: 0.5s all;
}
.quality-wrap li:first-child {
  color: black;
  border-top: 1px solid #999999;
  font-size: 25px;
  transition: 0.3s all;
}
.quality-wrap li:last-child {
  padding: 20px 5px 20px 5px;
}

.contact {
  position: relative;
  margin-top: 40px;
  overflow: hidden;
  background-color: #ededed;
}

.contact-wrap {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  text-align: center;
  overflow: hidden;
}
.contact-wrap ul {
  position: relative;
  margin: 20px 0 0 0.5%;
  color: #999999;
  width: 31%;
  float: left;
  overflow: hidden;
  transition: 0.3s all;
  font-size: 14px;
}
.contact-wrap ul:hover {
  color: black;
}
.contact-wrap img {
  height: 28px;
}
.contact-wrap li:first-child {
  padding-bottom: 15px;
}

.contact form {
  margin: 50px auto 0 auto;
  max-width: 500px;
  background-color: #15141a;
  position: relative;
  min-height: 200px;
  padding: 40px;
}
.contact form .input-pos {
  width: 45%;
  float: left;
}
.contact form input {
  display: block;
  width: 100%;
  border: 1px solid #999999;
  padding: 12px 2px 12px 2px;
  background-color: #15141a;
  color: #999999;
  margin-top: 15px;
}
.contact form input:first-child {
  margin-top: 0px;
}
.contact form textarea {
  max-width: 250px;
  min-width: 250px;
  min-height: 150px;
  max-height: 150px;
  float: right;
  background-color: #15141a;
  overflow: hidden;
  max-width: 45%;
  color: #999999;
  text-align: center;
}
.contact form button {
  position: absolute;
  right: 40px;
  bottom: 20px;
  font-size: 21px;
  text-decoration: none;
  color: #fffefe;
  display: inline-block;
  width: 150px;
  text-align: center;
  transition: 0.3s all;
  background-color: #008ed6;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
}
.contact form button:hover {
  font-size: 22px;
}

@media screen and (max-width: 1200px) {
  .customize-text {
    margin: 10px 0 0 15px;
  }

  .customize-img {
    width: 55%;
  }
}
@media screen and (max-width: 920px) {
  .nav .btn {
    display: block;
  }

  .nav-ul {
    float: none;
  }

  .nav-a-pos a.download, .nav-a-pos a.features {
    padding: 10px 5px;
  }

  .nav-info {
    margin-top: 20px;
    float: left;
    text-align: left;
  }

  .nav-text {
    width: 100%;
  }

  .customize-text {
    margin: 0px 0 0 15px;
    width: 50%;
  }

  .customize-img {
    width: 40%;
  }

  .customize-img img {
    width: 100%;
  }

  .sl-text {
    height: 120px;
  }

  .text-row {
    margin-top: 5px;
    text-align: center;
  }

  .text-a {
    margin-top: 40px;
    width: 100%;
  }

  .text-a a.features {
    right: 10px;
  }

  .text-a a.download {
    left: 10px;
    width: 150px;
  }

  .product ul {
    width: 44%;
  }

  .quality-wrap ul {
    width: 25%;
    margin: 40px 0% 0 17%;
  }
}
@media screen and (max-width: 720px) {
  .nav-ul {
    max-width: 480px;
    margin: 60px auto 0 auto;
    height: 50px;
  }
  .nav-ul a {
    font-size: 16px;
    padding: 5px;
  }

  .nav-text p {
    display: none;
  }

  .nav-ul.nav-ul_fixed {
    max-width: 100%;
    margin-top: 0px;
    width: 100%;
  }

  .ceo-part, .disign-part {
    padding-top: 10px;
  }

  .quality-wrap ul {
    width: 250px;
    float: none;
    margin: 40px auto 0 auto;
  }

  .sl-row {
    margin-top: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 552px) {
  .nav-ul {
    margin: 60px 0 0 0;
    max-width: 480px;
    display: block;
    left: 0px;
    height: 60px;
  }

  .nav-ul a:hover {
    font-size: 17px;
  }

  .nav-a-pos a.features {
    right: 0px;
  }

  .diteils-img {
    width: 100%;
    margin: 0 auto;
  }

  .diteils-img img {
    display: block;
    width: 320px;
    margin: 0 auto;
  }

  .diteils-text {
    width: 100%;
    text-align: center;
  }

  .diteils-text .line {
    text-align: center;
  }

  .customize-text {
    text-align: center;
    width: 100%;
  }

  .customize-text .line {
    text-align: center;
  }

  .customize-img {
    width: 40%;
    display: none;
  }

  .customize-img img {
    width: 100%;
  }

  .ceo-part, .disign-part {
    width: 100%;
  }

  .avtor {
    display: none;
  }

  .sl-text {
    height: 170px;
  }

  .text-a a.features, .text-a a.download {
    top: 70px;
    font-size: 16px;
    width: 100px;
    padding: 20px;
  }

  .text-row {
    font-size: 20px;
    margin-top: 10px;
  }

  .slick-dots {
    bottom: 10px;
  }

  .contact form {
    height: 400px;
  }

  .contact form .input-pos {
    width: 100%;
  }

  .contact form textarea {
    width: 100%;
    margin-top: 15px;
    min-width: 101%;
    float: left;
  }
}
@media screen and (max-width: 510px) {
  .nav-ul {
    width: 250px;
    margin: 60px auto 0 auto;
    height: 70px;
  }

  .nav-ul.nav-ul_fixed {
    width: 100%;
    height: 60px;
    font-size: 14px;
  }
  .nav-ul.nav-ul_fixed ul {
    width: 250px;
    height: 60px;
    overflow: hidden;
  }
  .nav-ul.nav-ul_fixed a {
    margin-top: 0px;
  }

  .tree {
    position: absolute;
    margin-top: 35px;
    margin-left: 120px;
  }

  .for {
    position: absolute;
    margin-top: 35px;
  }

  .five {
    position: absolute;
    margin-top: 35px;
    margin-left: 60px;
  }
}
@media screen and (max-width: 510px) {
  .nav-wrap {
    padding: 40px 10px 0 10px;
  }

  .nav-a-pos a.features, .nav-a-pos a.download {
    position: absolute;
    font-size: 16px;
    width: 100px;
    padding: 10px 5px;
    margin-top: 10px;
  }

  .nav-text .name, h1 {
    display: block;
    text-align: center;
  }

  .nav-a-pos a.download {
    position: absolute;
    left: 20px;
  }

  .nav-a-pos {
    margin-top: 5px;
  }

  .nav-info {
    margin-top: 5px;
  }
}
@media screen and (max-width: 330px) {
  .nav-brand span {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
