
.post{
  text-align: center;
  font-family: Roboto,sans-serif;
}
.title{
  font-size: 32px;
  line-height: 125%;
  color: #373737;
  display: flex;
  align-items: flex-end;
  width: fit-content;
  margin: 0 auto;
}
.sub-title {
  padding-top: 10px;
  line-height: 125%;
  font-size: 28px;
  font-style: italic;
  font-weight: 500;
}
.post__container{
  height: fit-content;
  overflow: hidden;
  position: relative;
  min-height: 30px;
}
.post__container__status-success ,.post__container__status-pending{
  color: #373737;
  padding-top: 8px;
  opacity: 0;
  font-size: 18px;
  line-height: 110%;
  max-height: 0;
  transition: 1s ease-in all;
}
.post__container__status-pending--show{
  opacity: 1;
  min-height: auto;
  max-height: fit-content;
}
.post__container__status-pending--hide{
  transform: translateY(100%);
  opacity:0;
  max-height: 0;
  z-index: -999;
}
.post__container__status-success{
  transition: 1s ease-in all 1s;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: fit-content;
  margin: 0 auto;
  z-index: -999;
}
.post__container__status-success--show{
  opacity: 1;
  min-height: fit-content;
  max-height: fit-content;
  height: fit-content;
  top: 0px;
}


