<div class="post">
  <h4 class="title">Loading post <app-loading></app-loading> </h4>
  <p class="sub-title">Form Kiev for Italy with love.</p>
  <div class="post__container">
    <p class="post__container__status-pending" [ngClass]="!postStatus?'post__container__status-pending--show':'post__container__status-pending--hide'" > your posts are still loading.</p>
    <p class="post__container__status-success" [ngClass]="postStatus?'post__container__status-success--show':'post__container__status-success--hide'" >your posts have been loaded.</p>
  </div>
</div>
