.user-form{
  padding: 40px 28px 40px 28px;
  box-sizing: border-box;
  width: 700px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 999;
  font-family: Inter;
}
.title--form{
  text-align: center;
  display: block;
}
.form-sub-title{
  margin-top: 10px;
  font-size: 16px;
  line-height: 150%;
  color: #555770;
  text-align: center;
  padding-bottom: 10px;
}
.form-input-wrapper,.search-form-container__item{
  display: flex;
  flex-direction: column;
}
.input-label{
  font-size: 10px;
  line-height: 120%;
  color: #9CA3AF;
  &__rate{
    display: block;
    text-align: center;
  }
  &__agree{
    display: inline-block;
    margin-left: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    cursor: pointer;
    transform: translateY(2px);
  }
}
.standard-input{
  margin-top: 4px;
  display: block;
  padding: 8px 10px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 120%;
  color: #404040;
  outline: none;
}
.standard-input--password::placeholder{
  transform: translateY(3px);
  display: inline-block;
  margin-top: 5px;
}
.user-form__item{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 323px;
  position: relative;
}
.input-label--password{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn--forgot{
  font-weight: 500;
  font-size: 10px;
  line-height: 160%;
  color: #3366FF;
}
.btn--login{
  margin-top: 28px;
  padding: 2px 16px;
}
.user-form__footer{
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #9CA3AF;
  font-family: Inner;
}
.btn--singUp--form{
  color: #3366FF;
  margin-left: 8px;
  text-decoration: underline;
  text-underline-offset: 2px;
}
.input-error{
  display: block;
  padding: 10px 4px;
  color: #c13131;
  font-size: 16px;
  line-height: 150%;
  position: absolute;
  top: 44px;
}
.user-form__footer--singUp{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-form__action__text{
  margin-top: 24px;
}
.standard-select{
  border: 1px solid #C4C4C4;
  padding: 8px 14px 8px 10px;
  margin-top: 4px;
  border-radius: 4px;
  color: #C4C4C4;
  background-color: white;
}
.standard-text-area{
  max-width: 320px;
  min-height: 140px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px;
  margin-top: 4px;
  display: inline-block;
  resize: none;
}
.user-form__item__rate{
  margin: 30px auto 0 auto;
  text-align: center;
}
.user-form__item__rate__decoration{
  display: flex;
  margin:4px auto 0 auto;
  transform: translateX(31px);
}
.rate-decoration{
  background-color: #3366FF;
  display: flex;
  align-items: center;
  vertical-align: center;
  border-radius: 4px;
  padding: 3px 6px;
  z-index: 12;
}
.user-form__item--agree{
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.user-form__link{
  color: #3366FF;
  font-weight: bold;
}
.user-form__item--select-skills{
  border-radius: 4px;
  min-height: 100px;
  border: 1px solid #3366FF;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: baseline;
  padding: 0 10px;
  & .professionAspects{
    margin-top: 10px;
  }
}
.user-form__item--select-skills span{
  margin-top: 10px;
}
option {
  min-height: 14px;
  padding: 5px;
  color: #404040;
}

.expert-form-back{
  display: flex;
  align-items: center;
  position: absolute;
  left: 40px;
  cursor: pointer;
  &__text{
    font-size: 12px;
    margin-left: 7px;
    padding-bottom: 4px;
    color: #C4C4C4;
  }
}
@media (max-width: 750px) {
  .user-form, .expert-form{
    height: 100vh;
    width: 100%;
    padding: 30px;
    justify-content: center;
    margin: 0;
    & .btn--login{
      position: fixed;
      bottom: 70px;
    }
    & .user-form__footer{
      position: fixed;
      bottom: 30px;
    }
  }
  .form-expert-container{
    margin: 0;
  }
}
