.contact{
  padding: 70px 110px;
  box-sizing: border-box;
  width: 95vw;
  position: relative;
  height: 100vh;
}
.contact-content{
  display: flex;
  border-top: 1px solid #DEDEDE;
  justify-content: space-between;
  margin-top: 40px;
}
.contact-items{
  margin-top: 50px;
}
.contact__list:last-child{
  margin-top: 30px;
}
.contact__list__href{
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #373737;
}
.contact__img_container{
  margin-top: 50px;
  max-width: 715px;
  & img{
    width: 100%;
  }
}
.category-link--contact{
  max-width: 774px;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1px;
  font-weight: 400;
  font-style: italic;
}
.category-link__text--last{
  display: inline-block;
  margin-top: 4px;
}