@media (max-width: 1441px) and (min-width: 898px) {
  .h {
    font-size: 44vw;
    letter-spacing: -11vw;
    font-weight: 700;
    margin-left: -4.15vw;
    line-height: 44vw;
  }
  .hello__title {
    transform: translateX(0);
    min-height: 253px;
    max-height: 560px;
    height: fit-content;
  }
  .title-description--big{
    line-height: 19vh;
  }
  .hello__sub-title{
    padding-top: 20px;
    padding-left: 5px;
  }
  .hay{
    padding-right: 0;
    font-size: 9.5vw;
  }
  @media (max-width: 1281px) {
    .h {
      font-size: 48vw;
      letter-spacing: -11vw;
      font-weight: 700;
      margin-left: -4.15vw;
      line-height: 43vw;
    }
    .hello__custom{
      width: 100%;
    }
    .hello__decoration__container {
      font-size: 31vw;
    }
    .hello {
      position: relative;
    }
    .hello__custom {
      width: 60%;
    }
    .what-we-do {
      position: absolute;
      width: 50%;
      right: 11%;
      top: 20%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
    }
    .title-description--big{
      line-height: 22vh;
    }
    .scroll-down__text{
      padding-top: 25px;
    }
    .scroll-down {
      position: absolute;
      bottom: 0;
      left: calc(0% - 9%);
    }
    @media (max-width: 1134px){
      .what-we-do {
        right: 2%;
      }
    }
    @media (max-width: 910px) {
      .hello {
        height: fit-content;
        padding-bottom: 10%;
        & .scroll-down{
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 899px) {
  .hello {
    height: fit-content;
    padding-bottom: calc(10% + 44px);
    & .scroll-down{
      display: flex;
    }
  }
  .hello__sub-title{
    padding-left: 25px;
  }
  .hello__custom {
    width: 100%;
    text-align: left;
    height: fit-content;
  }
  .hello__title {
    transform: translateX(0);
    min-height: 253px;
    max-height: 800px;
    height: fit-content;
  }
  .h {
    font-size: 80vw;
    letter-spacing: -13vw;
    font-weight: 700;
    margin-left: -6.15vw;
    line-height: 72vw;
  }
  .what-we-do {
    display: none;
  }
  .hello__decoration__container {
    font-size: 52vw;

  }
  .hay {
    padding-right: 5px;
  }
  .hay:after {
    content: attr(data-text);
  }
  .hello__sub-title__decoration:first-child {
    display: block;
  }
  .hello__sub-title__decoration:last-child {
    display: none;
  }
  @media (max-width: 672px) {
    .hello {
      height: fit-content;
      padding-bottom: calc(10% + 54px);
    }
    .hay{
      padding-bottom: 20px;
    }
  }
  @media (max-width: 510px) {
    .hello__sub-title {
      padding: 0 5px;
      font-size: 14px;
      color: #f3b9b9;
      letter-spacing: 0.16em;
    }
    .gallery__item {
      width: 100%;
    }
  }
}