@media (max-width: 1441px) and (min-width: 898px) {
  .h {
    font-size: 48vw;
    letter-spacing: -11vw;
    font-weight: 700;
    margin-left: -4.15vw;
    line-height: 48vw;
  }
  .hello__title {
    transform: translateX(0);
    min-height: 253px;
    max-height: 800px;
    height: fit-content;
  }
  @media (max-width: 1281px) {
    .h {
      font-size: 48vw;
      letter-spacing: -11vw;
      font-weight: 700;
      margin-left: -4.15vw;
      line-height: 43vw;
    }
    .hello__custom{
      width: 100%;
    }
    .hello__decoration__container {
      font-size: 31vw;
    }
    .hello {
      position: relative;
    }
    .hello__custom {
      width: 60%;
    }
    .what-we-do {
      position: absolute;
      width: 50%;
      right: 11%;
      top: 20%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
    }
    @media (max-width: 1121px){
      .what-we-do {
        right: 2%;
      }
    }
  }
}

@media (max-width: 899px) {
  .hello {
    height: fit-content;
    padding-bottom: 10%;
  }
  .hello__custom {
    width: 100%;
    text-align: left;
  }
  .hello__title {
    transform: translateX(0);
    min-height: 253px;
    max-height: 800px;
    height: fit-content;
  }
  .h {
    font-size: 80vw;
    letter-spacing: -13vw;
    font-weight: 700;
    margin-left: -6.15vw;
    line-height: 72vw;
  }
  .what-we-do {
    display: none;
  }
  .hello__decoration__container {
    font-size: 52vw;

  }

  .hay {
    padding-right: 5px;
  }
  .hay:after {
    content: attr(data-text);
  }
  .hello__sub-title__decoration:first-child {
    display: block;
  }
  .hello__sub-title__decoration:last-child {
    display: none;
  }
  @media (max-width: 510px) {
    .hello__sub-title {
      padding: 0 5px;
      font-size: 14px;
      color: #f3b9b9;
      letter-spacing: 0.16em;
    }
    .gallery__item {
      width: 100%;
    }
  }
}