.news{
  width: 110vw;
  height: 100vh;
  padding: 70px 80px 75px 110px;
  box-sizing: border-box;
  position: relative;
}
.category-title--news{
  margin-bottom: 40px;
}
.swiper-wrapper--news{
  padding-top: 40px;
  width: 84vw;
}
.swiper-container--news{
  border-top: 1px solid #DEDEDE;
}
.swiper-slide--news{
  box-sizing: border-box;
}
.news__img{
  display: flex;
  width: 100%;
}
.new__slide-container .news__desc{
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 24px;
  padding: 0 4px;
}
.news__desc__date{
  padding: 20px 0;
}
.news__desc__text--italic{
  font-style: italic;
  display: inline-block;
  text-decoration: underline;
}
.news__content--last{
  display: flex;
  width: 100%;
  height: 15.83vw;
  align-items: center;
  &__href{
    font-style: italic;
    font-size: 1.56vw;
    line-height: 125%;
    letter-spacing: -1px;
    display: inline-block;
    position: relative;
   color: #373737;
    &:after{
      content: "";
      position: absolute;
      display: block;
      background-color: #373737;
      width: 100%;
      height: 1px;
    }
  }
}

.new__slide-container{
  max-width: 84vw;
}

.swiper-button-prev--news,.swiper-button-next--news{
  position: initial;
  outline: none;
}
.swiper-button-next--news{
  margin-top:40px;
  outline: none;
}
.slider-news-button-container{
  position: absolute;
  right: 0;
  transform: translateX(80px);
  top: 33%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.news__desc__text .news__desc__text-decoration{
  color: #373737;
}
.new__slide-container .hero-desc__date{
  color: #373737;
  padding: 40px 0 10px 0;
}