.gooey{
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
  & .dots {
    margin-left: 10px;
    height: fit-content;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 3px;
    & span{
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-left: 10px;
      border-radius: 5px;
      background-color: #373737;
      &:first-child{
        animation: 1.2s linear infinite moveDot2;
      }
    }
  }
}
.dot{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #373737;
  position: absolute;
  left: 0;
  font-size: 10px;
  line-height: 10px;
  bottom: 5px;
  animation: 1.2s linear infinite moveDot1;
}
@keyframes moveDot1 {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(220%);
  }
  100%{
    transform: translateX(0px);
  }
}
@keyframes moveDot2 {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-220%);
  }
  100% {
    transform: translateX(0px);
  }
}
