.competence-pop{
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
  z-index: 12;
  padding: 50px 70px 150px 70px;
  box-sizing: border-box;
  transition: 0.5s transform linear;
  &__wrapper{
    position: relative;
  }
}
.showPop{
  transform: translateX(0);
  transition: 0.5s transform linear;
}
.title--competence-pop{
  padding-top: 75px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #373737;
  margin-bottom: 40px;
}
.btn--close--competence-pop{
  display: block;
  width: fit-content;
  margin-left: auto;
}
.competence__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 160px;
  border-top: 1px solid #DEDEDE;
  justify-content: space-between;
  &__img{
    margin-top: 70px;
  }
  &__content{
    margin-top: 70px;
  }
}
.pop-img{
  width: 100%;
}
.competence-ul{
  font-family: "Open Sans";
}
.competence-item{
  color: #373737;
  padding: 2px 4px;
  &__text{
    font-size: 18px;
    line-height: 32px;
    position: relative;
    display: flex;
    align-items: center;
    &:before{
      content: "";
      position: absolute;
      left: -20px;
      width: 4px;
      height: 1px;
      background-color: #373737;
    }
  }
}