$white: white;
$gray:#5B5858;
$lightGray:#777777;
$darkGrey: #504E4E;
$middleGrey: #848E97;
$black:#333333;
$darkBlack:#252525;
$bgGray:#F4F4F4;
$lightBlack:#635C73;
$darkWhite:#fbfbfb;
$green:#70BF73;
$darkGreen:#70BD59;
$almostBlack:#2E2E2E;