.component-of-success{
  height: 100vh;
  position: relative;
  //&:after{
  //  content: attr(data-text);
  //}
}
.component-of-success-big-decoration{
  top: 0;
  left: 19%;
  position: absolute;
  font-size: 40vmax;
  font-weight: 700;
  display: flex;
  line-height: 0.8;
  letter-spacing: -0.13em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: .03em;
  -webkit-text-stroke-color: #f49393;
}
.component-of-success-big-decoration-text{
  display: block;
  &:first-child{
    font-size: 33vmax;
  }
}
.title__success{
  width: 70%;
  border-top-left-radius:100px;
  border-bottom-left-radius: 100px;
  margin-left: auto;
  background-color: black;
  display: flex;
  &__text{
    letter-spacing: -.09em;
    font-size: 77px;
    color: #7A7878;
    padding: 13% 0 2% 33%;
    width: 410px;
  }
}
.component-of-success__container{
  padding-top: 20px;
  display: flex;
}
.decoration-container{
  width: 32.3%;
}
.decoration-container__svg{
  background-color: black;
    margin-top: 10%;
    border-top-left-radius: 11vmin;
    border-top-right-radius: 11vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 26%);
}
.decoration-triangle{
  max-width: 150px;
  animation: 1s decoration-triangleAnimation linear infinite;
}
.success__items__container{
  display: flex;
  flex-direction: column;
  width: 67.7%;
}
.success__items{
  padding-left: 31%;
  padding-bottom: 22px;
}
.success-list__text{
  font-weight: 300;
  font-size: 1.875vmax;
  line-height: 110%;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #7D7878;
}
.success__items--row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 4.3% 10% 0 10%;
}

.brands-text{
  display: block;
}
.success-list--row{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 6.5vmax;
  text-align: center;
  margin-top: -.12em;
  min-width: 65%;
  padding: 15% 0;
  border-radius: 50%;
  background-color: black;
}
.success-list--row__text{
  display: inline-block;
  @include textShadow;
  line-height: 50%;
  text-align: center;
  letter-spacing: -0.13em;
}
.title__action{
  margin: 0 auto;
  max-width: 432px;
  text-align: center;
  font-size: 66px;
  line-height: 56px;
  letter-spacing: -0.08em;
  color: #444242;
  justify-items: center;
}

@keyframes decoration-triangleAnimation {
  0%{
    transform: scale(1.0) translateY(0);
    opacity: 1;
  }
  25%{
    transform: scale(1.1) translateY(10px);
    opacity: .95;
  }
  50%{
    transform: scale(1.2) translateY(20px);
    opacity: .90;
  }
  75%{
    transform: scale(1.1) translateY(10px);
    opacity: .95;
  }
}