footer{
  padding: 5px;
  display: flex;
}
.footer-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  &__text{
    max-width: 500px;
    display: block;
    align-items: center;
    color: #C5BCBC;
    font-size: 2.1vw;
  }
}
.contact-form{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.form-input{
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 3.5em;
  box-sizing: border-box;
  padding: 5px 20px;
  display: block;
  width: 100%;
  @include heightInput;
  background-color: transparent;
  color:#444242;
  outline: none;
  transition: 0.5s color linear;
}
.form-input:focus{
  color: white;
}
.form-area{
  outline: none;
  @include heightInput;
  font-size: 3.5em;
  padding: 5px 20px;
  display: block;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
  color:#444242;
  transition: 0.5s color linear;
  max-width: 100%;
  resize: none;
}
.form-area:focus{
  color: white;
}
.footer-content__decoration__container{
  width: 50%;
  display: grid;
  grid-template-columns: 43px  74%;
  grid-gap: 43px;
  padding-left: 6.9vw;
  padding-top: 2vw;
}
.footer-content__decoration{

  display: inline-block;
  margin: 5px 0;
  border-radius: .9375rem;
  width: 100%;
  height: calc(100% - 10px);
  background-color: #f49393;
}
.btn-submit{
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 14.4vw;
  color:#444242;
  box-sizing: content-box;
  background-color: transparent;
  position: relative;
  &:after{
    margin-left: 4px;
    content: attr(data-text);
    text-align: left;
    text-transform: uppercase;
    border: none;
    outline: none;
    font-size: 14.5vw;
    color:white;
    display: block;
    overflow: hidden;
    width: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.7s width linear;
    height: 100%;
  }
  &:hover:after{
    width: 101%;
  }
}
.footer-circle{
  display: flex;
  padding-bottom: 90px;
  &__item{
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin-left: 22px;
    background-color: #C4C4C4;
    &:first-child{
      animation: 1.2s linear firsCircleUp infinite;
    }
    &:nth-child(2){
      animation: 1.2s linear firsCircleUp infinite;
      animation-delay: 0.2s;
    }
    &:last-child{
      animation: 1.2s linear firsCircleUp infinite;
      animation-delay: 0.4s;
    }
  }
}
.test{
  width: 370px;
  height: 370px;
}
.triangle{
  transform-origin: center;
  animation: infinite 1s linear triangleAnimation;
}
.footer-content__decoration__triangle{
  position: absolute;
  top: -1vw;
  right: 4vw;
  width: 16.4vw;
}
@keyframes triangleAnimation {
  0%{
    transform: scale(1.0);
  }
  25%{
    transform: scale(1.05)
  }
  50%{
    transform: scale(1.1)
  }
  75%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1.0);
  }
}
@keyframes firsCircleUp {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(-15px);
  }
  75%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0px);
  }
}
@media (max-width: 1289px) and (min-width: 989px) {
  .footer-content__decoration__triangle {
    right: 2vw;

  }
  .footer-content__decoration__container{
    grid-template-columns: 23px 74%;
  }
}

@media (max-width: 989px) and (min-width: 676px){
  .footer-content__decoration__triangle {
    right: 1vw;
    top: 1vw;
  }
  .footer-content__decoration__container{
    grid-template-columns: 23px 74%;
    grid-gap: 23px;
    height: 87px;
    padding-top: 3vw;
    align-items: center;
  }
  .form-input{
    font-size: 5.6vw;
  }

}
@media (max-width: 676px){
  footer{
    flex-direction: column;
    height: initial;
  }
  .footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-circle{
    display: none;
  }
  .footer-content__decoration{
    display: none;
  }
  .footer-content__decoration__container{
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .footer-content__text{
    display: block;
    padding: 20px 0 0 0;
    font-size: 24px;
    max-width: 100%;
    letter-spacing: -0.05em;
  }
  .footer-content__decoration__triangle{
    transform: rotate(90deg);
    position: initial;
    width:136px;
  }
  .send{
    color: #f49393;
  }
  .contact-form{
    width: 90%;
    margin: 0 5%;
  }
  .form-input,.form-area{
    font-size: 9vw;
  }
  .btn-submit{
    font-size: 30.4vw;
  }
  .btn-submit:after{
    font-size: 30.4vw;
  }
}

