header{
  max-width: 1280px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 13;
}
.hero{
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.brand{
  display: inline-block;
  padding-left: 9vw;
  text-shadow: -0.02em -0.02em 0 #f49393, -0.02em -0.01em 0 #f49393, -0.02em 0 0 #f49393, -0.02em 0.01em 0 #f49393, -0.02em 0.02em 0 #f49393, -0.01em -0.02em 0 #f49393, -0.01em -0.01em 0 #f49393, -0.01em 0 0 #f49393, -0.01em 0.01em 0 #f49393, -0.01em 0.02em 0 #f49393, 0 -0.02em 0 #f49393, 0 -0.01em 0 #f49393, 0 0 0 #f49393, 0 0.01em 0 #f49393, 0 0.02em 0 #f49393, 0.01em -0.02em 0 #f49393, 0.01em -0.01em 0 #f49393, 0.01em 0 0 #f49393, 0.01em 0.01em 0 #f49393, 0.01em 0.02em 0 #f49393, 0.02em -0.02em 0 #f49393, 0.02em -0.01em 0 #f49393, 0.02em 0 0 #f49393, 0.02em 0.01em 0 #f49393, 0.02em 0.02em 0 #f49393;
  font-size: 23vw;
  line-height: 10vh;
  position: relative;
  &:before{
    position: absolute;
    left: -6.7vw;
    top: 16px;
    content: attr(data-text);
    display: inline-block;
    transform: rotate(270deg);
    font-size: 13vw;
    color: #f3b9b9;
    text-shadow: -0.01em -0.01em 0 #f49393, -0.01em -0.01em 0 #f49393, -0.01em 0 0 #f49393, -0.01em 0.01em 0 #f49393, -0.01em 0.01em 0 #f49393, -0.01em -0.01em 0 #f49393, -0.01em -0.01em 0 #f49393, -0.01em 0 0 #f49393, -0.01em 0.01em 0 #f49393, -0.01em 0.01em 0 #f49393, 0 -0.01em 0 #f49393, 0 -0.01em 0 #f49393, 0 0 0 #f49393, 0 0.01em 0 #f49393, 0 0.01em 0 #f49393, 0.01em -0.01em 0 #f49393, 0.01em -0.01em 0 #f49393, 0.01em 0 0 #f49393, 0.01em 0.01em 0 #f49393, 0.01em 0.01em 0 #f49393, 0.01em -0.01em 0 #f49393, 0.01em -0.01em 0 #f49393, 0.02em 0 0 #f49393, 0.01em 0.01em 0 #f49393, 0.01em 0.01em 0 #f49393;

    letter-spacing: -0.13em;
  }
  //color: #1f1f1f;
}
.title-description--big{
  padding-left: 9.5vw;
  color: #fff;
  font-size: 7vw;
  line-height: 25vh;
  position: relative;
  font-weight: 400;
  &:before{
    content: attr(data-text);
    display: none;
    color: white;
    line-height: 30px;
  }
}
.title-description{
  opacity: 1;
  color: white;
  font-size: 5vh;
  letter-spacing: 0.1em;
  padding-top: 20px;
  font-family: 'Open Sans Hebrew';
  transform: translateY(150px);
  transition: 1s transform, opacity linear;
}
//.active-item{
//  opacity: 1;
//  transform: translateY(0);
//  transition: 1s transform, opacity linear;
//}
.contact-us{
  padding: 0 5px;
  text-align: center;
  font-size: 28px;
  color: #F3B9B9;
  text-transform: uppercase;
}
.contact-us__description{
  color: white;
  display: block;
  background-color: #DC1750;
  animation: 1s contact-us__descriptionAnimation linear infinite ;
}

.hero__decoration__container{
  display: none;
  padding-left: 10px;
}

.hero--decoration{
  transform: rotate(3deg);
  position: relative;
  height: 50px;
  width: 50px;
  @include textShadow;
  background-color: #f49393;
  clip-path: polygon(60% 0, 84% 0, 85% 100%, 73% 100%, 62% 100%, 19% 100%, 6% 97%, 0 85%, 34% 0);
  &:after{
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    //transform: rotate(3deg);
    background-color: black;
    position: absolute;
    top: 5px;
    left: 5px;
    clip-path: polygon(60% 0, 84% 0, 85% 100%, 73% 100%, 62% 100%, 19% 100%, 6% 97%, 0 85%, 34% 0);
  }
}
.scroll-down{
  position: absolute;
  bottom: 0;
  left: calc(0% - 140px);
  display: flex;
  width: fit-content;
}
.scroll-down__text{
  padding-top: 20px;
  transform: rotate(90deg) translate(0px, -37px);
  color: #f49393;
  font-size: 2.9vw;
  letter-spacing: -0.1em;
  font-weight: 700;
  font-family: 'Open Sans Hebrew';
  &--decoration{
    color: #989393;
  }
}
.scroll-down__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
.scroll-down--nofill{
  transform: rotate(90deg) translate(25px, 0);
  display: block;
  width: 68px;
  height: 68px;
  animation: 1.5s linear scroll-down--nofillAnimation infinite;
  z-index: 11;
}
.scroll-down--fill{
  transform: rotate(90deg);
  width: 120px;
  height: 120px;
  animation: 1.5s linear scroll-down--fillAnimation infinite;
}
footer{
  height: 100vh;
  background-color: black;
}
@keyframes scroll-down--fillAnimation {
  0%{
    transform: rotate(90deg) translate(0px, 0);
  }
  25%{
    transform: rotate(90deg) translate(0px, 0);
  }
  50%{
    transform: rotate(90deg) translate(0px, 0);
  }
  75%{
    transform: rotate(90deg) translate(15px, 0);
  }
  100%{
    transform: rotate(90deg) translate(0px, 0);
  }
}
@keyframes scroll-down--nofillAnimation {
  0%{
    transform: rotate(90deg) translate(25px, 0);
  }
  25%{
    transform: rotate(90deg) translate(45px, 0);
  }
  50%{
    transform: rotate(90deg) translate(65px, 0);
  }
  75%{
    transform: rotate(90deg) translate(45px, 0);
  }
  100%{
    transform: rotate(90deg) translate(25px, 0);
  }
}
@keyframes contact-us__descriptionAnimation {
    0%{
      transform: scale(1);
    }
    25%{
      transform: scale(1.05);
    }
    50%{
      transform: scale(1.1);
    }
    75%{
      transform: scale(1.05);
    }
}