header{
  max-width: 1280px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 13;
}
.hero{
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.brand{
  text-shadow: -0.02em -0.02em 0 #f49393, -0.02em -0.01em 0 #f49393, -0.02em 0 0 #f49393, -0.02em 0.01em 0 #f49393, -0.02em 0.02em 0 #f49393, -0.01em -0.02em 0 #f49393, -0.01em -0.01em 0 #f49393, -0.01em 0 0 #f49393, -0.01em 0.01em 0 #f49393, -0.01em 0.02em 0 #f49393, 0 -0.02em 0 #f49393, 0 -0.01em 0 #f49393, 0 0 0 #f49393, 0 0.01em 0 #f49393, 0 0.02em 0 #f49393, 0.01em -0.02em 0 #f49393, 0.01em -0.01em 0 #f49393, 0.01em 0 0 #f49393, 0.01em 0.01em 0 #f49393, 0.01em 0.02em 0 #f49393, 0.02em -0.02em 0 #f49393, 0.02em -0.01em 0 #f49393, 0.02em 0 0 #f49393, 0.02em 0.01em 0 #f49393, 0.02em 0.02em 0 #f49393;
  font-size: 50vh;
  line-height: 10vh;
  //color: #1f1f1f;
}
.title-description--big{
  color: white;
  font-size: 10vh;
  line-height: 17vh;
}
.title-description{
  color: white;
  font-size: 5vh;
  letter-spacing: 0.1em;
  padding-top: 20px;
}
.contact-us{
  padding: 0 5px;
  text-align: center;
  font-size: 28px;
  color: #F3B9B9;
  text-transform: uppercase;
}
.contact-us__description{
  color: white;
  display: block;
  background-color: #DC1750;
}
.btn-submit{

}
footer{
  height: 100vh;
  background-color: black;
}
