.hello {
  padding-top: 80px;
  display: flex;
  background-color: black;
  position: relative;
  overflow: hidden;
  & .scroll-down{
    display: none;
  }
  &__custom {
    text-align: right;
    width: 50%;
    height: 100%;
  }
  &__title {
    text-align: left;
    transform: translateX(-8%);
    color: rgba(226, 224, 224, 0.37);
    max-height: 660px;
  }

  &__sub-title {
    font-size: 18px;
    letter-spacing: 0.31em;
    color: #7D7878;
  }
}
.what-we-do__text{
  font-weight: 400;

}
.what-we-do__text .smart{
  font-weight: 300;
}
.hay {
  display: block;
  font-size: 10.5vw;
  color: #989393;
  text-align: right;
  padding-bottom: 4vw;
}

.hello__decoration__container {
  font-size: 23vw;
  display: inline-block;
  letter-spacing: -0.13em;
  text-transform: lowercase;
}

.what-we-do {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.list-item {
  padding: 10px 5px;
  color: white;
  font-size: 4.5vw;
}

.h {
  font-size: 36vw;
  letter-spacing: -9vw;
  font-weight: 700;
  line-height: 28vw;

}
.hello__decoration{
  display: inline-block;
  font-weight: 700;
  &:first-child{
    animation:  1.2s  hello__decoration-second infinite linear;
  }
}
.hello__decoration:nth-child(2) {
  color: rgba(148, 36, 36, .55);
  animation:  1s  hello__decoration-first infinite linear;
  position: relative;
  &:after {
    content: attr(data-text);
    display: inline-block;
    text-shadow: -0.03em -0.03em 0 #fff, -0.03em -0.02em 0 #fff, -0.03em -0.01em 0 #fff, -0.03em 0 0 #fff, -0.03em 0.01em 0 #fff, -0.03em 0.02em 0 #fff, -0.03em 0.03em 0 #fff, -0.02em -0.03em 0 #fff, -0.02em -0.02em 0 #fff, -0.02em -0.01em 0 #fff, -0.02em 0 0 #fff, -0.02em 0.01em 0 #fff, -0.02em 0.02em 0 #fff, -0.02em 0.03em 0 #fff, -0.01em -0.03em 0 #fff, -0.01em -0.02em 0 #fff, -0.01em -0.01em 0 #fff, -0.01em 0 0 #fff, -0.01em 0.01em 0 #fff, -0.01em 0.02em 0 #fff, -0.01em 0.03em 0 #fff, 0 -0.03em 0 #fff, 0 -0.02em 0 #fff, 0 -0.01em 0 #fff, 0 0 0 #fff, 0 0.01em 0 #fff, 0 0.02em 0 #fff, 0 0.03em 0 #fff, 0.01em -0.03em 0 #fff, 0.01em -0.02em 0 #fff, 0.01em -0.01em 0 #fff, 0.01em 0 0 #fff, 0.01em 0.01em 0 #fff, 0.01em 0.02em 0 #fff, 0.01em 0.03em 0 #fff, 0.02em -0.03em 0 #fff, 0.02em -0.02em 0 #fff, 0.02em -0.01em 0 #fff, 0.02em 0 0 #fff, 0.02em 0.01em 0 #fff, 0.02em 0.02em 0 #fff, 0.02em 0.03em 0 #fff, 0.03em -0.03em 0 #fff, 0.03em -0.02em 0 #fff, 0.03em -0.01em 0 #fff, 0.03em 0 0 #fff, 0.03em 0.01em 0 #fff, 0.03em 0.02em 0 #fff, 0.03em 0.03em 0 #fff;
    position: absolute;
    font-size: .16em;
    color: #000;
    transform-origin: left;
    letter-spacing: -.075em;
    top: 0em;
    left: 0.8em;
    transform: rotate(270deg);
    opacity: 0.37;
    font-weight: 700;
  }
}

.hello__decoration:nth-child(3) {
  color: rgba(47, 47, 47, .7%);
  animation:  1s  hello__decoration-next infinite linear;
  position: relative;
  &:after {
    content: attr(data-text);
    display: inline-block;
    text-shadow: -0.03em -0.03em 0 #fff, -0.03em -0.02em 0 #fff, -0.03em -0.01em 0 #fff, -0.03em 0 0 #fff, -0.03em 0.01em 0 #fff, -0.03em 0.02em 0 #fff, -0.03em 0.03em 0 #fff, -0.02em -0.03em 0 #fff, -0.02em -0.02em 0 #fff, -0.02em -0.01em 0 #fff, -0.02em 0 0 #fff, -0.02em 0.01em 0 #fff, -0.02em 0.02em 0 #fff, -0.02em 0.03em 0 #fff, -0.01em -0.03em 0 #fff, -0.01em -0.02em 0 #fff, -0.01em -0.01em 0 #fff, -0.01em 0 0 #fff, -0.01em 0.01em 0 #fff, -0.01em 0.02em 0 #fff, -0.01em 0.03em 0 #fff, 0 -0.03em 0 #fff, 0 -0.02em 0 #fff, 0 -0.01em 0 #fff, 0 0 0 #fff, 0 0.01em 0 #fff, 0 0.02em 0 #fff, 0 0.03em 0 #fff, 0.01em -0.03em 0 #fff, 0.01em -0.02em 0 #fff, 0.01em -0.01em 0 #fff, 0.01em 0 0 #fff, 0.01em 0.01em 0 #fff, 0.01em 0.02em 0 #fff, 0.01em 0.03em 0 #fff, 0.02em -0.03em 0 #fff, 0.02em -0.02em 0 #fff, 0.02em -0.01em 0 #fff, 0.02em 0 0 #fff, 0.02em 0.01em 0 #fff, 0.02em 0.02em 0 #fff, 0.02em 0.03em 0 #fff, 0.03em -0.03em 0 #fff, 0.03em -0.02em 0 #fff, 0.03em -0.01em 0 #fff, 0.03em 0 0 #fff, 0.03em 0.01em 0 #fff, 0.03em 0.02em 0 #fff, 0.03em 0.03em 0 #fff;
    position: absolute;
    font-size: 3vw;
    color: #000;
    transform-origin: left;
    letter-spacing: -.1em;
    top: 0em;
    left: 1em;
    transform: rotate(270deg);
    opacity: 0.37;
    font-weight: 700;
  }
}

.hello__decoration:nth-child(4) {
  color: black;
  @include textShadow;
  animation:  1.4s  hello__decoration-second infinite linear reverse;
}

@keyframes hello__decoration-first {
    0%{
      transform: translate(0,0px)  rotate(0deg) scale(1.0);
    }
    25%{
      transform: translate(-2px,0px)  rotate(1deg) scale(0.87);
    }
    50%{
      transform: translate(2px,0px)  rotate(-1deg) scale(0.95);
    }
    75%{
      transform: translate(-2px,0px)  rotate(1deg) scale(1.00);
    }
  100%{
      transform: translate(0,2px)  rotate(0deg) scale(1.0);
     }
}
@keyframes hello__decoration-second {
  0%{
    transform: translate(0,0px)  rotate(0deg)
  }
  25%{
    transform: translate(3px,0px)  rotate(0deg)
  }
  50%{
    transform: translate(-4px,0px)  rotate(0deg)
  }
  75%{
    transform: translate(3px,0px)  rotate(0deg)
  }
  100%{
    transform: translate(-2px,0px)  rotate(0deg)
  }
}
@keyframes hello__decoration-next {
  0% {
    transform: translate(0, 0px) rotate(0deg) scale(1.0);
  }
  25% {
    transform: translate(-2px, 0px) rotate(-1deg) scale(0.9);
  }
  50% {
    transform: translate(2px, 0px) rotate(1deg) scale(1.0);
  }
  75% {
    transform: translate(-2px, 0px) rotate(-1deg) scale(0.9);
  }
  100% {
    transform: translate(0, 2px) rotate(0deg) scale(1.0);
  }
}
