.wrapper--expert {
  background-color: white;
  margin: 60px auto;
  min-height: calc(100vh - 66px - 64px - 120px);
  box-sizing: border-box;
  padding: 60px 76px 60px;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-gap: 60px;
  grid-template-rows: auto ;
  grid-row-gap:0;
}
.expert-profile {
  text-align: center;
  font-family: "Inner";
  grid-gap: 60px;
  &__img {
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 16px;
    & img {
      width: 100%;
    }
  }
  &__desc,&__btn-container{
    grid-column: 1/1;
  }

  &__text {
    color: #9CA3AF;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    &--smal {
      font-size: 12px;
      line-height: 14px;
      margin-top: 5px;
    }
  }
}
.expert-profile-professional-aspects{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.expert-profile__star {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.expert-description{
  grid-column: 2/3;
}

.btn--blue {
  margin-top: 20px;
}

.expert-description__aspects {
  margin-top: 20px;
}

.text--blue {
  margin-top: 20px;
  color: #3366FF;
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
  font-weight: bold;
  &--mobile{
    display: none;
  }
}

.expert-description__text {
  font-size: 14px;
  line-height: 150%;
  color: #737373;
  font-family: Inter;
  margin-top: 20px;
}

.expert-profile__reviews {
  grid-column: 2/2;
  margin-top:30px
}

.reviews-list {
  display: flex;
  margin-top: 28px;
  align-items: center;

  &__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }
}

.expert-profile__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .btn {
    width: 100%;
  }

  & .btn--white {
    margin-right: 0;
    margin-top: 10px;
  }

  & .btn:nth-child(3) {
    margin-top: 10px;
  }
}

.reviews-list__container {
  width: calc(100% - 85px);
  margin-left: 25px;
}

.reviews-list__profile__text {
  color: #737373;
  font-family: 'Inner';
  font-size: 12px;
  line-height: 150%;
}

.expert-profile__star--reviews {
  margin-top: 0;
}
.reviews-lists{
  font-family: 'Inner';
}
@media(max-width: 1180px) {
  .wrapper--expert{
    max-width: 768px;
    padding: 40px 56px 40px;
    grid-gap: 30px;
    grid-row-gap: 0;
  }
  .expert-profile__reviews{
    grid-column: 1/3;
    margin-top: 30px;
  }
  @media (max-width: 790px) {
    .wrapper--expert{
      max-width: 680px;
    }
  }
}
@media (max-width: 703px) {
  .wrapper--expert{
    max-width: 640px;
    padding: 20px 10px;
  }
}
@media (max-width: 669px) {
  .wrapper--expert{
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px 10px;
  }
}
@media (max-width: 565px) {
  .wrapper--expert{
    grid-template-columns: 1fr;
    grid-gap: 0;
    padding: 30px 20px;
  }
  .expert-description{
    grid-column: 1/2;

  }

  .expert-profile{
    display: flex;
    grid-gap: 0;
    flex-wrap: wrap;
    text-align: left;
    & .title--small{
      padding-left: 20px;
    }
    & .expert-profile__text{
      padding-left: 20px;
    }
  }
  .expert-profile__img{
    width: 80px;
    margin: 0;
    border-radius: 40px;
    padding-bottom: 0;
  }
  .text--blue--mobile{
    display: block;
    width: 50%;
    padding-left: 20px;
    margin: 0;
    height: fit-content;
  }
  .expert-profile__btn-container{
    width: 100%;
  }
  .expert-profile__desc{
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    position: relative;
     & .expert-profile__star{
       margin-top: 0;
       position: absolute;
       right: 0;
       top: 0;
     }
    & .expert-profile__text--small{
      display: none;
    }
  }
  .expert-description__aspects{
    margin-top: 0;
  }
  .expert-profile-professional-aspects{
    padding-bottom: 20px;
    & .title--small{
      padding-top: 30px;
    }
    & .text--blue{
      display: none;
    }
  }
  .expert-description__text{
    display: none;
  }
  .expert-description__text--0{
    display: block;
  }
  .expert-profile__star--reviews{
    display: none;
  }
  .reviews-list{
    margin-top: 20px;
  }
  .reviews-list__title .title--small{
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 7px;
  }
}
