@media (max-width: 1281px) {
  .simple-ul--main{
    margin: 0 5px;
  }
  .slide-ul-category{
    padding: 0 5px;
  }
  @media (max-width: 801px) {
    .breeze-Slide__img-wrapper{
      padding-right: 0;
    }
    .icon-sale{
      width: 60px;
      height: 60px;
    }
    .slide-ul-category--list{
      padding:5px 12px;
    }
    .category--title{
      font-size: 18px;
    }
    .description--white, .slide-ul-category__description>.description{
      font-size: 14px;
    }
    .main-title{
      font-size: 30px;
    }
    .breeze-Slide__img-wrapper{
      grid-auto-columns: 20px;
      grid-auto-rows: 20px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
      bottom: 24%;
    }
  }
  @media (max-width: 654px) {
    .main-title{
      font-size: 24px;
    }
    span.description{
      display: none;
    }
    .breeze-Slide__img-wrapper{
      grid-auto-columns: 15px;
      grid-auto-rows: 15px;
    }
    .icon-sale{
      width: 30px;
      height: 30px;
    }
    .category--title{
      font-size: 13px;
    }
    .slide-ul-category{
      gap: 5px;
      margin-top: 10px;
    }
    .slide-ul-category--list{
      padding: 5px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
      bottom: 15%;
    }
    }
  @media (max-width: 460px) {
    .simple-ul--main {
      justify-content: center;

      & .ul-list {
        &__link {
          padding: 8px 10px;
          text-transform: lowercase;
          font-size: 12px;
          color: #444444;
          background-color: transparent;

          &--active {
            color: #FFFFFF;
            background-color: #59b7c1;
          }
        }
      }
    }
    .slide-ul-category{
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    .slide-ul-category--list{
      justify-content: center;
    }
    .slide-ul-category--list:last-child{
      display: none;
    }
    .breeze-Slide__img-wrapper{
      grid-auto-columns: 14px;
      grid-auto-rows: 13px;
      box-shadow: -7px -3px 100px 0px #fff;;
    }
    .breeze-Slide__img-container__text{
      padding: 0 5px 0 17px;
      justify-content: center;
    }
    .button-decoration{
      display: none;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
      bottom: 18%;
    }
  }
}