@media (min-width: 700px) and (max-width: 999px){
  .standard-title,.about-items__text__subtitle {
    font-size: 28px;
    line-height: 48px;
  }
  .about-items__text__description{
    font-size: 13px;
    line-height: 19px;

  }
  .about__items-container{
    grid-auto-rows: 70px;
  }
  .about-items__text__description--human{
    left: -50%;
  }
}
@media (max-width: 699px){
  .about__items-container{
    grid-auto-rows: 60px;
  }
  .about-items:first-child{
    background-size: cover;
  }
  .standard-title, .about-items__text__subtitle{
    font-size: 28px;
    line-height: 36px;
  }
  .about-items__text__description{
    font-size: 13px;
    line-height: 19px;
    width: 240px;
  }
  .about-items__text__description--human{
    left: -110%;
    width: 209px;
    bottom: 3px;
  }
  @media (max-width: 480px){
    .about__items-container{
      grid-auto-rows: 52px;
    }
    .about-items__text__subtitle, .standard-title--about{
      font-size: 22px;
    }
    .about-items__text__description {
      display: none;
      &:before{
        left: -17px;
      }
    }
    .about-items__img--human{
      width: 100%;
    }
    .about-items__text--human{
      width: 0%;
    }
    .about-items__text__description--human{
      font-size: 13px;
      line-height: 19px;
      width: 155px;
      left: -146px;
      bottom: -26px;
      display: block;
      padding: 0;
    }
  }
}
