@media (min-width: 1000px) and (max-width: 1400px) {
  .big-title {
    max-width: 900px;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  header {
    padding: 30px 10px 0 10px;
  }
  .nav-items__href {
    font-size: 12px;
  }
  .big-title {
    max-width: 700px;
    font-size: 48px;
  }
  .hero__title-container {
    height: calc(100vh - 71px);
  }
}

@media (max-width: 699px) {
  body{
    min-width: 320px;
  }
  header{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999999999999999;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
  }
  .hero__title-container {
    height: calc(100vh);
  }
  .navigation{
    display: none;
  }
  .navigation-mobile {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(0);
    height: 100vh;
    width: 100%;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.3);
    animation: navigation-mobile-show 0.5s linear forwards;
  }
  .nav-item-container--mobile {
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 290px;
    padding: 15px 10px;
    box-sizing: border-box;
  }
  .nav-items {
    padding: 10px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  }
  .nav-items__href {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .btn {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px 8px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 5px;
    justify-content: space-between;
    z-index: 999999999999999;
    &__line {
      width: 100%;
      height: 2px;
      background-color: $white;
      transition: 0.3s linear transform;
    }
  }
  .btn--active > .btn__line{
    transition: 0.3s linear transform;
    &:first-child {
      transform: translate(1px, 7px) rotate(45deg)
    }
    &:nth-child(2){
      transform: translateX(-60px)
    }
    &:last-child{
      transform: translate(0px, -6px) rotate(125deg);
    }
  }
  .big-title{
    font-size: 24px;
    line-height: 62px;
    padding: 0 10px;
  }
}
@keyframes navigation-mobile-show {
 0%{
   transform: translateX(-100%);
 }
  100%{
    transform: translateX(0%);
  }
}