@media (min-width: 700px) and (max-width: 999px) {
  .nav-item-container--works {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 110px;
  }
  .nav-items__href--gray {
    padding: 15px 10px;
    text-align: center;
  }
  .nav-items__href--gray--active:after {
    left: 0;
  }
  .lets-works__wrapper {
    height: 1560px;
    min-height: 1560px;
  }
  .lets-works__item {
    padding-bottom: 120px;
  }
  .lets-works__item__img--alternative .lets-works__item__img {
    justify-content: center;
  }
  .lets-works__item__img-description {
    max-width: 280px;
    font-size: 22px;
    line-height: 36px;
    bottom: 54%;
  }
  .lets-works__img-description--alternative {
    left: 40%;
  }

  .lets-works__item__description {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    text-align: center;
  }
  .lets-works__item img {
    height: 320px;
    width: 80%;
  }
}
@media (min-width: 480px) and (max-width:699px){
  .lets-works__wrapper{
    height: 1501px;
    min-height: 1501px;
  }
  .nav-item-container--works {
    margin-bottom: 15px;
    padding-top: 10px;
    flex-direction: column;
    height: 165px;
  }
  .nav-item-container--works > .nav-items{
    border: none;
    padding: 0;
  }
  .nav-items__href--gray {
    padding: 11px 0 0 0;
    text-align: center;
    font-size: 12px;
    width: fit-content;
  }
  .lets-works__item img{
    width: 90%;
    min-height: 280px;
    max-height: 320px;
    height: initial;
  }
  .lets-works__item__img-description{
    font-size: 18px;
    width: 146px;
    line-height: 26px;
    bottom: 50%;
    left: 20%;
  }
  .lets-works__item__description{
    width: 100%;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
@media (max-width: 480px){
  .lets-works__wrapper{
    height: initial;
    flex-wrap: nowrap;
    min-height: 2930px;
  }
  .lets-works--navigation{
    width: 100%;
  }
  .nav-item-container--works{
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .nav-items__href--gray{
    padding: 10px 15px;
    display: inline-block;
    box-sizing: border-box;
  }
  .lets-works__item__img--alternative, .lets-works__item__img{
    justify-content: center;
  }

  .lets-works__item{
    width: 100%;
    justify-content: center;
    & img{
      width: 100%;
      max-width: 400px;
    }
  }
  .lets-works__item__img-description{
    font-size: 18px;
    line-height: 36px;
    width: 160px;
    left: 10%;
  }
  .lets-works__item__description{
    width: 100%;
    text-align: center;
  }
}