@media (min-width: 700px) and (max-width: 999px) {
  .standard-title--small {
    font-size: 14px;
  }
  .team__content {
    bottom: -69px;

    &__description {
      padding: 0 10px;
      font-size: 12px;
    }
  }
  .team__title:before {
    top: 10px;
    left: 39%;
  }
}
@media (max-width: 480px) {
  .team .container-items-wrapper .container-items{
    padding: 0 0 0 0;
  }
  .standard-title--small {
    font-size: 14px;
  }
  .team__content {
    bottom: -69px;

    &__description {
      padding: 0 10px;
      font-size: 12px;
    }
  }
}
