.cart-content{
  width: 300px;
  color: #1d1d1d;
  position: absolute;
  z-index: 12;
  right: 0;
  left: auto;
  top: calc(100% + 5px);
  border-radius: 2px;
  background-color: #ffffff;
  padding: 15px 20px ;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 3px rgba(132,132,132,0.35);
  opacity: 0;
  transition: 0.5s all linear;
  display: none;
}
.title--small{
  padding: 5px;
  font-size: 13px;
  line-height: 24px;
  color: $lightGray;
}
.cart-content__container{
  position: relative;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  &:last-child{
    border: none;
  }
  &__img{
    padding: 10px;
    background-color: #f8f8f8;
    @include standard-border;
    @include standard-shadow;
  }
}
.cart-content__container__text{
  padding: 0 11px;
}
.small-img{
  width: 40px;
  height: 40px;
}
.description--small{
  font-size: 12px;
  line-height: 17px;
  color: $lightGray;
  @include timesNewRoman-standard;
}
.quantity{
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 17px;
  color: #444444;
  font-weight: 700;
}
.btn--close{
  position: absolute;
  right: 0;
  top: 15px;
  &__line{
    display: block;
    width: 9px;
    height: 1px;
    background-color: $lightGray;
  }
}
.btn--close__line:first-child{
    transform: translate(5px, 3px) rotate(36deg);
}
.btn--close__line:last-child{
  transform: translate(5px, -3px) rotate(123deg);
}
.btn--ok{
  padding: 10px;
  font-size: 11px;
  color: #fefefe;
  border-radius: 2px;
  background-color: #59b7c2;
}
.btn--cancel{
  padding: 10px;
  font-size: 11px;
  color: #fefefe;
  border-radius: 2px;
  background-color: #444444;
}
.pop-container{
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  background-color: $opacityBlack;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  transition: 0.5s all linear;
}
.input-decoration--user-form{
  padding: 10px 5px;
  border-radius: 2px;
  margin-top: 10px;
}
.user-content{
  width: 310px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 3px rgba(132,132,132,0.35);
  padding: 20px;
  background-color: white;
}
.search--form{
  display: inline-block;
  margin: 10px 0;
}
.btn--show-menu--form{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 8px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-radius: 5px;
  justify-content: space-between;
  z-index: 12;
  &__line{
    width: 100%;
    height: 2px;
    background-color: $gray;
    transition: .3s linear transform;
  }
}
.btn--show-menu--form__line{
  &:first-child{
    transform: translate(0px,8px) rotate(37deg);
  }
  &:last-child{
    transform: translate(0,0px) rotate(130deg)
  }
}
.button-container--user-form{
  margin-top: 15px;
}

.button-container{
  display: flex;
  justify-content: space-between;
}

.icon-img{
  display: inline-block;
  padding: 0 13px;
  height: 14px;
  width: 16px;
}