.decoration-text{
  position: relative;
  display: inline-block;
  transition:0.5s transform linear;
  &:after{
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    display: block;
    transition: 0.5s width, transform linear;
    background-color: #373737;
  }
}
.competence__list:hover .decoration-text:after{
  width: 100%;
}
.competence__list:hover .decoration-text{
  transform: translate3d(10px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(-8deg, 0deg);
}

//direction
.competence__list--alternative {
  display: block;
  border-bottom: 1px solid #FFFFFF;
  padding:25px 60px;
  box-sizing: border-box;
  transition: .5s background-color linear;
  overflow: hidden;
  & .competence__list__text{
    color: #D9D9D9;
  }
}
.competence__list--alternative:hover{
  background-color: #FFFFFF;
}
.direction__list__svg{
  transform: translateY(200%);
  transition: 0.5s transform linear;
}
.competence__list--alternative:hover .direction__list__svg{
  transform: translateY(0);
  z-index: 12;
}
.competence__list--alternative .decoration-text:after{
  background-color: #2B2B2B;
}
.competence__list--alternative:hover .decoration-text{
  color: #2B2B2B;
  transform: translate3d(10px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(-8deg, 0deg);
}
.competence__list--alternative:hover .decoration-text:after{
  width: 100%;
}
