@mixin bitter-standard {
  font-family: 'Bitter', serif;
}
@mixin timesNewRoman-standard{
  font-family: "TimesNewRomanRegular";
}
@mixin standard-border{
  border: 1px solid #cbcbcb;
}
@mixin standard-shadow{
  box-shadow: 0 2px 3px rgba(132,132,132,0.35);
}