@import "reset";
@import "veriables";
@import "mix_in";
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,400;0,700;1,400&display=swap');
.title{
  @include bitter-standard
}
.container{
  max-width: 1280px;
  margin: 0 auto;
}
.description{
  color: $lightGray;
}
.btn {
  display: inline-block;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}
.logo{
  display: flex;
  flex-direction: column;
  max-width: 176px;
}
.input-decoration{
  outline: none;
  display: inline-block;
  font-size: 12px;
  color: $gray;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  transition: 0.5s border linear;
  &:focus{
    border: 1px solid #59b7c1;
  }
}
.description{
  @include bitter-standard;
  color: $lightGray;
}
.simple-ul{
  display: flex;
  align-items: center;
}
.vertical-ul{
  display: flex;
  flex-direction: column;
}
.ul-list {
  text-transform: uppercase;
  border-right: 2px solid #FFFFFF;
  &:last-child {
    border: none;
  }
  &__link {
    padding: 14px 12px;
    display: inline-block;
    background-color: #e5e9ed;
    color: #6f7071;
    font-size: 12px;
    transition: 0.5s background-color, color linear;
    &:hover {
      background-color: #d5e3f1;
    }
    &--active {
      background-color: #59b7c1;
      color: #FFFFFF;
      &:hover {
        background-color: #59b7c1;
        color: #FFFFFF;
      }
    }
  }
}
@import "section/header/header";
@import "section/heroo/heroo";
@import "section/pop/pop";

@media only screen and (min-width: 320px) and (max-width: 840px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .pop-container--sing-up>.user-content{
    padding: 10px 15px;
  }
  .user-content>.title--small{
    padding: 0;
  }
}