@import "reset";
@import "veriables";
@import "mix_in";

html {
  scroll-behavior: smooth;
  font-family: 'Open Sans';
}
.wrapper{
  max-width: 1280px;
}
body {
  min-width: 320px;
}

@import "section/header";
@import "section/sideBar";
@import "section/hello";
@import "section/footer";
@import "section/hero";
@import "section/gallery";
@import "section/component-of-success";
@import "section/media/hello_media";
@import "section/media/header_media";
