.footer-content{
  background-color: $almostBlack;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 340px;
}
.footer__link-container__item{
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding-top: 10px;
  display: inline-block;
}

.social_links{
  display: flex;
  padding-top: 40px;
}
.links__item{
  display: inline-block;
  margin-left: 20px;
  &:first-child{
    margin-left: 0;
  }
  &__href{
    display: inline-block;
  }
}
.footer__description{
  background-color: $darkBlack;
  color: rgba(255, 255, 255, .5);
  text-align: center;
  padding: 20px 0;
}

