.services{
  background-color: $darkWhite;
  padding: 120px 0;
}
.container-items-wrapper{
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
  position: relative;
}
.container-items{
  box-sizing: border-box;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 0;
    background-color: $green;
    height: 2px;
    transition: 1s linear width;
  }
  &:hover:after{
    width: 100%;
  }

}

.services__items-wrapper{
  max-width: 280px;
  position: relative;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 36px;
  }
  &__img{
    width: 50px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 20px #DBDBDB;
    border-radius: 50%;
    opacity: 0.3;
    transition: 0.5s linear opacity;
  }
  &__description{
    color: $lightGray;
    padding-bottom: 19px;
  }
  &__link{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: $lightGray;
    padding-bottom: 35px;
    transition: 0.3s linear color;
  }
}
.services__items-wrapper:hover .services__items-wrapper__img{
  opacity: 1;
}
.services__items-wrapper:hover .services__items-wrapper__link{
  color: $darkBlack;
}

