.team{
  background-color: $darkWhite;
  padding: 130px 0;
}
.team .container-items-wrapper .container-items{
  overflow: hidden;
}
.team__content {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: -100px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  transition: background-color,  bottom, linear 0.5s;
  &__description {
    padding: 15px 0;
  }
}

.team__title {
  padding-top: 17px;
  position: relative;
  transition: 0.5s linear padding;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 45%;
    width: 45px;
    height: 2px;
    display: block;
    background-color: $darkBlack;
  }
}
.team__content__description__text{
  color: $lightGray;
}
.team-items:hover .team__content{
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}

