@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

header {
  padding: 5px 0;
  background-color: #0e1a35;
}

nav {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  list-style: none;
  margin-right: 20px;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  line-height: 40px;
  text-decoration: none;
  color: #d2d3d6;
  font-size: 14px;
  height: 40px;
  width: 80px;
  margin-right: 10px;
  text-align: center;
  border-bottom: 2px solid transparent;
  position: relative;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

nav ul li a:before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  bottom: -2px;
  left: 40%;
  background-color: #0e1a35;
}

nav ul li:last-child a {
  color: #5584ff;
  border: 2px solid #5584ff;
  border-radius: 20px;
  margin-left: 10px;
}

nav ul li a:hover, .nav_active {
  font-size: 16px;
  border-bottom: 2px solid #5284ff;
  color: #5284ff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

nav ul li:last-child a:before {
  display: none;
}

.logo {
  margin-left: 20px;
  height: 60px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.login {
  padding: 40px 80px;
}

.login input {
  outline: none;
  display: block;
  margin: 5px 0;
  padding: 10px 0;
}

.content {
  position: relative;
}

.content_wrap {
  max-width: 1440px;
  margin: 0 auto;
}

.marcury {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0e1a35;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(images/Grid.png);
  overflow: hidden;
}

.marcury h1 {
  color: white;
  margin-top: 180px;
}

.marcury p {
  color: #8492af;
  font-size: 18px;
  padding: 10px 0 0 0;
}

.a_responsive {
  height: 50px;
  z-index: 9999;
  margin-top: 40px;
}

.marcury a {
  text-decoration: none;
  color: white;
  background-color: #5584ff;
  padding: 10px 30px;
  border-radius: 40px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.marcury a:hover {
  font-size: 20px;
}

.marcury span {
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.marcury span img {
  width: 100%;
}

.marcury_img {
  margin-top: 40px;
  -webkit-box-shadow: 0 0 25px rgba(85, 132, 255, 0.8);
          box-shadow: 0 0 25px rgba(85, 132, 255, 0.8);
}
.marcury_img img {
  width: 100%;
  margin-top: -40px;
}

.white {
  height: 80px;
  margin-top: -80px;
  background-color: white;
}

.analitix {
  position: relative;
}

.analitix_wrap {
  max-width: 1440px;
  margin: 100px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.analitix_wrap ul {
  list-style: none;
  text-align: center;
}

.analitix_wrap ul li {
  padding: 10px 0px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.analitix_wrap ul li img {
  height: 50px;
  width: 50px;
  overflow: hidden;
}

.analitix_wrap ul li a {
  padding: 10px 0px;
  display: block;
  width: 60%;
  color: #5284ff;
  line-height: 20px;
  text-decoration: none;
  border: 2px solid #3d3d3d;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  height: 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.analitix_wrap ul li a:hover {
  font-size: 16px;
}

.analitix_wrap ul li span {
  display: block;
  width: 15%;
  height: 1px;
  background-color: #3d3d3d;
  margin: 0px 8% 0 8%;
}

.need {
  margin: 40px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.browser, .browser_img {
  overflow: hidden;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.browser_wrap {
  max-width: 80%;
  margin: 0 0 0 auto;
}

.browser_wrap span {
  font-size: 4em;
  color: #475166;
}

.browser_wrap p {
  color: #8492af;
  padding: 10px 0;
  font-size: 14px;
}

.browser_img img {
  width: 120%;
}

.browser_wrap ul {
  list-style: none;
  padding: 10px 0;
  font-size: 14px;
  color: #5284ff;
  height: 100px;
}

.browser ul li {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  height: 36px;
}

.browser ul li:hover {
  font-size: 16px;
}

.list_item {
  margin: -3px 20px 0 0;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #5284ff;
  float: left;
}

.line_1 {
  display: block;
  position: absolute;
  top: 9px;
  left: 7px;
  height: 2px;
  width: 10px;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  background-color: #5284ff;
  display: block;
}

.line_2 {
  display: block;
  position: absolute;
  left: 4px;
  top: 11px;
  height: 2px;
  width: 6px;
  background-color: #5284ff;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.gelary {
  position: relative;
  margin-top: 40px;
  overflow: hidden;
}

.gelary_wrap {
  max-width: 880px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gelary_info {
  color: #5284ff;
  font-size: 1.5em;
  text-align: center;
  overflow: hidden;
}

.gelary_item {
  position: relative;
  float: left;
  width: 48%;
  margin: 20px 0 0 2%;
  overflow: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.gelary_img {
  position: relative;
  z-index: 12;
}

.gelary_text {
  position: absolute;
  top: 0px;
  opacity: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gelary_text button {
  padding: 20px 40px;
  font-size: 14px;
  text-decoration: none;
}

.gelary_item:hover .gelary_text {
  background-color: #4a61d4;
  height: 100%;
  width: 100%;
  z-index: 12;
  opacity: 0.7;
}

.gelary_img img {
  width: 100%;
}

.more_info {
  margin: 20px 0;
  text-align: center;
  color: #5284ff;
}

.modal {
  will-change: visibility, opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal__dialog {
  max-width: 600px;
  padding: 1.2rem;
}

.modal__content {
  will-change: transform, opacity;
  position: relative;
  background: white;
  padding: 2.4rem;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 20px #5584ff;
          box-shadow: 0 0 20px #5584ff;
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__content--active {
  opacity: 1;
}

.modal__close {
  z-index: 1100;
  cursor: pointer;
}

.modal__trigger {
  position: relative;
  display: block;
  z-index: 0;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__trigger--active {
  z-index: 10;
  opacity: 0;
}

#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  padding: 0.6rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-close img {
  width: 24px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}

.demo-close:hover {
  background: rgba(0, 0, 0, 0.6);
}

/*animation*/
.some_animation {
  position: relative;
  min-width: 550px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.some_animation a {
  text-decoration: none;
  color: #2b2b2b;
}

.some_animation ul {
  margin: 20px;
  padding: 20px;
  list-style: none;
  border: 1px solid transparent;
}

.some_animation ul li {
  padding: 10px 20px;
  text-align: center;
}

.some_animation ul:hover {
  -webkit-animation: border_box 1s;
          animation: border_box 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes border_box {
  25% {
    border-left: 1px solid black;
  }
  50% {
    border-left: 1px solid black;
    border-top: 1px solid black;
  }
  75% {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
  }
  100% {
    border: 1px solid black;
    -webkit-box-shadow: 0 0 10px #010101;
            box-shadow: 0 0 10px #010101;
  }
}

@keyframes border_box {
  25% {
    border-left: 1px solid black;
  }
  50% {
    border-left: 1px solid black;
    border-top: 1px solid black;
  }
  75% {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
  }
  100% {
    border: 1px solid black;
    -webkit-box-shadow: 0 0 10px #010101;
            box-shadow: 0 0 10px #010101;
  }
}
.nice_move {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
  margin: 0 0 12% 5%;
}

.nice_move span:first-child {
  display: block;
  position: absolute;
  margin-top: 0px;
  margin-left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #3d3d;
  -webkit-animation: move_span1 3s;
          animation: move_span1 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.nice_move span:nth-child(2) {
  display: block;
  position: absolute;
  margin-top: 0px;
  margin-left: 60px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: yellow;
  -webkit-animation: move_span2 3s;
          animation: move_span2 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.nice_move span:nth-child(3) {
  display: block;
  position: absolute;
  top: 60px;
  left: 60px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: red;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation: move_span3 3s;
          animation: move_span3 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.nice_move span:nth-child(4) {
  display: block;
  position: absolute;
  top: 60px;
  left: 0px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #5284ff;
  -webkit-animation: move_span4 3s;
          animation: move_span4 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes move_span1 {
  25% {
    -webkit-transform: translateX(60px) scale(1) rotate(180deg);
            transform: translateX(60px) scale(1) rotate(180deg);
    border-radius: 0;
  }
  50% {
    -webkit-transform: translate(60px, 60px) scale(0.5) rotate(90deg);
            transform: translate(60px, 60px) scale(0.5) rotate(90deg);
    border-radius: 40px;
  }
  75% {
    -webkit-transform: translate(0px, 60px) scale(1) rotate(360deg);
            transform: translate(0px, 60px) scale(1) rotate(360deg);
    border-radius: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(0.5);
            transform: translate(0px, 0px) scale(0.5);
    border-radius: 40px;
  }
}

@keyframes move_span1 {
  25% {
    -webkit-transform: translateX(60px) scale(1) rotate(180deg);
            transform: translateX(60px) scale(1) rotate(180deg);
    border-radius: 0;
  }
  50% {
    -webkit-transform: translate(60px, 60px) scale(0.5) rotate(90deg);
            transform: translate(60px, 60px) scale(0.5) rotate(90deg);
    border-radius: 40px;
  }
  75% {
    -webkit-transform: translate(0px, 60px) scale(1) rotate(360deg);
            transform: translate(0px, 60px) scale(1) rotate(360deg);
    border-radius: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(0.5);
            transform: translate(0px, 0px) scale(0.5);
    border-radius: 40px;
  }
}
@-webkit-keyframes move_span2 {
  25% {
    -webkit-transform: translateY(60px) scale(0.5) rotate(180deg);
            transform: translateY(60px) scale(0.5) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(-60px, 60px) scale(1) rotate(90deg);
            transform: translate(-60px, 60px) scale(1) rotate(90deg);
  }
  75% {
    -webkit-transform: translate(-60px, 0px) scale(0.5) rotate(360deg);
            transform: translate(-60px, 0px) scale(0.5) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
  }
}
@keyframes move_span2 {
  25% {
    -webkit-transform: translateY(60px) scale(0.5) rotate(180deg);
            transform: translateY(60px) scale(0.5) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(-60px, 60px) scale(1) rotate(90deg);
            transform: translate(-60px, 60px) scale(1) rotate(90deg);
  }
  75% {
    -webkit-transform: translate(-60px, 0px) scale(0.5) rotate(360deg);
            transform: translate(-60px, 0px) scale(0.5) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
  }
}
@-webkit-keyframes move_span3 {
  25% {
    -webkit-transform: translateX(-60px) scale(0.5) rotate(180deg);
            transform: translateX(-60px) scale(0.5) rotate(180deg);
    border-radius: 0;
  }
  50% {
    -webkit-transform: translate(-60px, -60px) scale(1) rotate(90deg);
            transform: translate(-60px, -60px) scale(1) rotate(90deg);
    border-radius: 40px;
  }
  75% {
    -webkit-transform: translate(0px, -60px) scale(0.5) rotate(360deg);
            transform: translate(0px, -60px) scale(0.5) rotate(360deg);
    border-radius: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
    border-radius: 40px;
  }
}
@keyframes move_span3 {
  25% {
    -webkit-transform: translateX(-60px) scale(0.5) rotate(180deg);
            transform: translateX(-60px) scale(0.5) rotate(180deg);
    border-radius: 0;
  }
  50% {
    -webkit-transform: translate(-60px, -60px) scale(1) rotate(90deg);
            transform: translate(-60px, -60px) scale(1) rotate(90deg);
    border-radius: 40px;
  }
  75% {
    -webkit-transform: translate(0px, -60px) scale(0.5) rotate(360deg);
            transform: translate(0px, -60px) scale(0.5) rotate(360deg);
    border-radius: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
    border-radius: 40px;
  }
}
@-webkit-keyframes move_span4 {
  25% {
    -webkit-transform: translateY(-60px) scale(0.5) rotate(180deg);
            transform: translateY(-60px) scale(0.5) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(60px, -60px) scale(1) rotate(90deg);
            transform: translate(60px, -60px) scale(1) rotate(90deg);
  }
  75% {
    -webkit-transform: translate(60px, 0px) scale(0.5) rotate(360deg);
            transform: translate(60px, 0px) scale(0.5) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
  }
}
@keyframes move_span4 {
  25% {
    -webkit-transform: translateY(-60px) scale(0.5) rotate(180deg);
            transform: translateY(-60px) scale(0.5) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(60px, -60px) scale(1) rotate(90deg);
            transform: translate(60px, -60px) scale(1) rotate(90deg);
  }
  75% {
    -webkit-transform: translate(60px, 0px) scale(0.5) rotate(360deg);
            transform: translate(60px, 0px) scale(0.5) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) scale(1);
            transform: translate(0px, 0px) scale(1);
  }
}
.try_wrap {
  color: #5284ff;
  margin-top: -20px;
  font-size: 36px;
  text-align: center;
}

.try {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  margin: 25px auto;
  height: 260px;
  position: relative;
}

.try span {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.try:hover span {
  -webkit-animation: move_span01 4s;
          animation: move_span01 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.try span:first-child {
  background-color: #3d3d;
}

.try:hover span:nth-child(2) {
  background-color: yellow;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.try:hover span:nth-child(3n) {
  background-color: #3d3d3d;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  width: 39px;
  height: 39px;
}

.try:hover span:nth-child(4n) {
  background-color: #5284ff;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.try:hover span:nth-child(5n) {
  background-color: red;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.try:hover span:nth-child(6n) {
  background-color: #d800ff;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.try:hover span:nth-child(7n) {
  background-color: #ff9900;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes move_span01 {
  14.2% {
    -webkit-transform: translate(60px, 60px);
            transform: translate(60px, 60px);
  }
  35.5% {
    -webkit-transform: translate(-60px, 180px);
            transform: translate(-60px, 180px);
  }
  49.6% {
    -webkit-transform: translate(0px, 240px);
            transform: translate(0px, 240px);
  }
  63.7% {
    -webkit-transform: translate(60px, 180px);
            transform: translate(60px, 180px);
  }
  85% {
    -webkit-transform: translate(-60px, 60px);
            transform: translate(-60px, 60px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes move_span01 {
  14.2% {
    -webkit-transform: translate(60px, 60px);
            transform: translate(60px, 60px);
  }
  35.5% {
    -webkit-transform: translate(-60px, 180px);
            transform: translate(-60px, 180px);
  }
  49.6% {
    -webkit-transform: translate(0px, 240px);
            transform: translate(0px, 240px);
  }
  63.7% {
    -webkit-transform: translate(60px, 180px);
            transform: translate(60px, 180px);
  }
  85% {
    -webkit-transform: translate(-60px, 60px);
            transform: translate(-60px, 60px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
.about_me {
  position: relative;
}

.about_me > span {
  color: #5284ff;
  font-size: 26px;
  display: block;
  text-align: center;
  padding: 10px 0;
}

.about_me p {
  color: #3d3d3d;
  padding: 10px 0 0 0;
}

.about_me b {
  color: #5284ff;
  font-family: bold;
}

.about_p {
  padding-left: 20px;
}

.about_me ul {
  margin: 20px 0 0 40px;
}

.about_me ul li {
  padding: 10px 0;
}

.logo2 img {
  width: 45px;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.logo2 img:hover {
  -webkit-transform: rotate(180deg) scale(1.1);
  transform: rotate(180deg) scale(1.1);
}

footer {
  margin-top: 10px;
  background-color: #0e1a35;
}

.footer_wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_content ul {
  list-style: none;
}

.footer_content ul li {
  float: left;
}

.footer_content ul li a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  text-align: center;
}

/*shop*/
.shop_part {
  margin-top: 40px;
}

.shop_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0e1a35;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop_header_logo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop_header_logo img {
  width: 100%;
}

.shop_catalog a {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.shop_catalog a span {
  padding: 0 5px;
}

.shop_serch {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}
.shop_serch input[type="serch"] {
  width: 80%;
  padding: 5px 0;
  text-align: center;
  outline: none;
}
.shop_serch button {
  color: blue;
  background-color: #5284ff;
  outline: none;
  border: none;
  width: 10%;
  padding: 7px 0;
  cursor: pointer;
}

.shop_serch input[type="serch"]:focus {
  text-align: left;
}

.shop_icon {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.shop_icon ul {
  list-style: none;
}
.shop_icon ul li {
  float: left;
}
.shop_icon ul i {
  display: block;
  width: 29px;
  height: 29px;
  margin-right: 10px;
  cursor: pointer;
}
.shop_icon ul img {
  width: 100%;
  height: 100%;
}

.shop_icon ul li:last-child i img {
  margin-top: -3px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.shop_content {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop_info {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.category > li:first-child {
  text-align: center;
  padding: 15px 0;
  color: #5284ff;
  font-size: 22px;
}

.category {
  list-style: none;
}

.category li {
  padding: 5px 0;
  position: relative;
}

.category li a {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 18px;
  display: block;
  padding-left: 20px;
}
.category li a span {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 20px;
  top: 10px;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  border-right: 1px solid #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.category li:hover span {
  border-right: 1px solid #5284ff;
  border-bottom: 1px solid #5284ff;
}

.category li:hover > a {
  color: #5284ff;
}

.info {
  margin-top: 20px;
}

.info li {
  padding: 5px 0 5px 25px;
  position: relative;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.info li button {
  border: none;
  background-color: #5284ff;
  padding: 10px 20px;
  color: white;
  float: right;
  margin-right: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.info li > button:hover {
  padding: 11px 21px;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.info input[type="checkbox"]:checked,
.info input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.info input[type="checkbox"]:checked + label,
.info input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  line-height: 5px;
  padding-left: 23px;
  cursor: pointer;
}

.info input[type="checkbox"]:checked + label:before,
.info input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -15px;
  width: 18px;
  height: 18px;
  border: 1px solid #5284ff;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 3px;
  top: -11px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #5284ff;
  border-bottom: 4px solid #5284ff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}

.info li:hover {
  color: #5284ff;
}

.about_us li:first-child a, .shop_contact li:first-child a {
  color: #5284ff;
  margin-top: 10px;
  text-align: center;
}

.sub_category {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 78%;
  left: 20%;
  top: 20px;
  height: 100%;
  overflow: scroll;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  visibility: hidden;
  z-index: 12;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 0;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 0 20px #000001;
          box-shadow: 0 0 20px #000001;
}

.note:hover #for_note, .phone_show:hover #for_phone, .аppliances:hover #for_аppliances,
.home:hover #for_home, .plumbing:hover #for_plumbing, .others:hover #for_others {
  visibility: visible;
  opacity: 1;
}

.sub_category p {
  font-size: 22px;
  color: #5284ff;
  padding: 5px 0;
}

.sub_category ul {
  list-style: none;
  padding: 10px 0;
  position: relative;
}

.sub_category ul > li:first-child a {
  color: #5284ff;
}

.sub_category ul li a {
  color: #3d3d3d;
}

/*shop_conten_center*/
/*slider*/
.shop_conten_center {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  position: relative;
  overflow: hidden;
}

.slider {
  color: #8492af;
}
.slider span {
  display: block;
  font-size: 24px;
  color: #5284ff;
  width: 100%;
  text-align: center;
}
.slider p {
  padding: 20px 15px;
  font-size: 16px;
}

.sl {
  position: relative;
  -webkit-box-shadow: 0 0 25px rgba(1, 1, 1, 0.8);
          box-shadow: 0 0 25px rgba(1, 1, 1, 0.8);
  background-color: #333;
  max-width: 950px;
  margin: 0 auto;
}

.sl-slide {
  position: relative;
  z-index: 1;
}

.slider_header {
  padding: 10px 5px;
  color: #5284ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.slider_content {
  width: 100%;
  max-height: 475px;
  overflow: hidden;
}

.slider_content img {
  width: 100%;
}

.slider_footer {
  padding: 0px 5px;
  color: #dedede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider_footer a {
  text-decoration: none;
  color: #5284ff;
}

.slider_see {
  text-align: center;
}
.slider_see a {
  display: block;
  margin: 0 auto;
  height: 25px;
  padding: 0px 10px 0px 10px;
  line-height: 25px;
  text-decoration: none;
  color: #5284ff;
  border: 1px solid #5284ff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.slider_see a:hover {
  font-size: 18px;
}

/*shop-gelary*/
.shop_gelary {
  margin-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.shop_gelary span {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 18px;
  color: #5284ff;
  text-align: center;
  padding: 20px;
  position: relative;
}
.shop_gelary span:after, .shop_gelary span:before {
  content: "";
  display: inline-block;
  width: 40px;
  background-color: #5284ff;
  font-size: 0;
  height: 2px;
  margin: 0 0 4px 10px;
}
.shop_gelary span:before {
  margin: 0 10px 4px 0px;
}
.shop_gelary p {
  padding: 10px 20px;
}
.shop_gelary button {
  border: none;
  background-color: #5284ff;
  padding: 10px 20px;
  color: white;
  float: right;
  margin-right: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.shop_gelary button:hover {
  -webkit-box-shadow: 0 0 10px #000001;
          box-shadow: 0 0 10px #000001;
  padding: 12px 22px;
}

.shop_gelary_item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-bottom: 10px;
}

.shop_gelary_item {
  float: left;
  width: 28%;
  margin: 10px 2%;
  border-left: none;
  border-top: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.shop_gelary_item img {
  width: 100%;
}

.btn_more_some {
  display: block;
  text-align: right;
  padding: 10px 20px 10px 0;
  cursor: pointer;
  color: #5284ff;
}

.shop_gelary_item:hover {
  -webkit-box-shadow: 0 0 10px #000001;
          box-shadow: 0 0 10px #000001;
}

.last_more {
  display: none;
}

.more:hover.last_more {
  display: block;
}

.shop-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop-footer ul {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */