<form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" class="user-form" >
  <div class=" btn btn--close" (click)="closeLoginForm($event)">
    <app-close-svg></app-close-svg>
  </div>
  <div class="user-form__header">
    <b class="title title--form">Log in</b>
    <p class="form-sub-title">Complete the form to access your account</p>
  </div>
  <div class="user-form__item">
    <label for="email" class="input-label">Full name or email</label>
    <input type="email" id="email" formControlName="email" class="standard-input" placeholder="example@email.com">
        <span class="input-error" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Please enter valid email</span>
  </div>
  <div class="user-form__item">
    <label for="password" class="input-label input-label--password">Password
      <button type="button" class="btn btn--forgot">Forgot password?</button>
    </label>
    <input type="password" id="password" formControlName="password" placeholder="***********" class="standard-input standard-input--password">
    <span class="input-error"  *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
      Password mast include at list 6 latter or number
    </span>
    <span class="input-error" *ngIf="userStatus">Ivalid password or email</span>
  </div>
  <button class="btn btn--login" type="submit">Sign in</button>
  <div class="user-form__footer">
    <p class="user-form__footer__text">Don’t have an account?</p>
    <span (click)="showSingUpForm($event)" class="btn btn--singUp--form">Sing Up</span>
  </div>
</form>
