.expert-gallery__item{
  padding: 20px 25px;
  background-color: white;
  font-family: Inner;
  text-align: center;
  &__img{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    & img{
      width: 100%;
      height: 100%;
    }
  }
  &__name{
    margin-top: 7px;
    display: block;
    font-size: 18px;
    line-height: 36px;
  }
  &__job{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #9CA3AF;
  }
}
.user-rate{
  margin-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expert-gallery__item__link{
  display: inline-block;
  margin-top: 20px;
  background: #3366FF;
  border-radius: 4px;
  padding: 8px 16px;
  color: #FFFFFF;
}

//media

@media (max-width: 556px) {
  .expert-gallery__item__link{
    margin-top: 20px;
  }
  .expert-gallery__item__job{
    line-height: 100%;
  }
}
