<div class="expert-gallery__item">
  <div class="expert-gallery__item__img">
    <app-user-photo-svg *ngIf="!item.img" [cssClass]="'user-photo-svg'"></app-user-photo-svg>
    <img *ngIf="item.img" src="{{item.img}}" alt="">
  </div>
  <b class="expert-gallery__item__name">{{item.name | shortName:item.name}}</b>
  <p class="expert-gallery__item__job">{{item.profession}}</p>
    <ul class="user-rate">
      <li class="svg-rate__list" *ngFor="let svgItem of [].constructor(5) let i = index"><star-svg [index]="i" [starRate]="item.starRate"></star-svg></li>
    </ul>
  <a routerLink="/expert/{{item.id}}" class="expert-gallery__item__link">Learn more</a>
</div>


