*{
	margin: 0;
	padding:0;
	list-style: none;
	text-decoration:none;
}
body{
	min-width: 480px;
}
																		/**header**/
.header{
	position: absolute;
	width: 100%;
	z-index: 2;
}
.form {
	display: none;
	top: 20px;
	width: 100%;
	position: absolute;
}
.search-input{
	display: block;
	width: 80%;
	margin:0 auto;
	height: 40px;
	border-radius: 5px;
	border:0 solid transparent;
	text-align: center;
}
.nav {
	position: relative;
	max-width: 900px;
	margin: 80px auto 0 auto;
}
.nav-brand{
	width: 23%;
	margin-top: 20px;
	display: inline-block;
	overflow:hidden;
}
.nav-brand img {
	width: 80px;
	float: left;
}
.nav-brand span{
	float: left;
	height: 70px;
	line-height: 70px;
	margin-left: 10px;
	color:#ffffff;
	font-size: 30px;
}
.nav-bar{
	width: 77%;
	margin-top: 40px;
	float: right;
}
.collapse ul{
	float: right;
	padding-right: 80px;
}
.collapse li{
	float: left;
}
.collapse li a{
	display: block;
	font-size: 16px;
	padding:10px;
	color:#ffffff;
	transition: 0.3s all;
}
.collapse li a:hover{
	color:#c0ac94;
	padding:12px;
}

.btn_menu {
	position: absolute;
	left:10px;
	top:25px;
	display: inline-block;
	display: none;
	width: 20px;
	padding: 10px 10px 5px 10px;
	transition:3s;
}
.btn_menu> span{
	border-top:  2px solid#fff;
	display: block;
	padding-bottom:  3px;
}
.search-holder{
	position: absolute;
	top:40px;
	right: 0%;
}
.search-holder a{
	cursor: pointer;
	display: block;
	float: left;
	padding: 5px 6px 0px 4px;
	transition: 0.3s all; 
}
.search-holder a:hover{
	padding: 8px 6px 0px 8px;
}

																	/**slider**/
.slide{
	z-index:1;
	width: 100%;
	position:relative;
	overflow: hidden;
}
.slide img {
	width: 100%;
	min-height: 500px;
}
.sl-slide{
  position:relative;
  width: 100%;
}
.slide-text{
	position:absolute;
	width:100%;
	top: 40%;
	z-index: 4;
	color:#ffffff;
}
.text-row{
	display: block;
	text-align: center;
	max-width: 500px;
	margin:0 auto;
}
.disgn{
	font-size: 24px;
}
.text-row h2 {
	padding-top: 8px;
	font-size: 36px;
}
.text-row p{
	padding-top: 8px;
	font-size: 18px;
}
.text-row a.str{
	display: block;
	text-decoration: none;
	color:#ffffff;
	font-size: 18px;
	margin-top: 20px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	width:100px;
	margin:20px  auto 0 auto; 
	background-color: #998675;
	transition: 0.3s all;
}
.text-row a.str:hover{
	padding: 0 5px 0 5px;
}
																		/**services**/
.works{
	position: relative;
	margin-top: 20px;
}
.works-wrap{
	max-width: 1300px;
	margin:0 auto;
}
.works-wrap ul{
	max-width: 300px;
	display:inline-block;
	text-align:center;
	padding-left: 7px;
}
.works-wrap ul li{
	display: block;
	padding-top: 5px;
	font-size: 18px;
	color:#8c8c8c;
}
.works-wrap ul li h3{
	color:#555555;
	transition: 0.3s;
}
.works-wrap ul li span{
	width:60px;
	height: 20px;
	display:block;
	background-color:transparent;
	margin:0 auto;
	border-bottom:  2px solid black;
	transition: 0.3s;
}
.works-wrap ul:hover h3{
	color:#998675;
}
.works-wrap ul:hover span{
	border-bottom:  2px solid #998675;
}

																		/**ideas**/
.ideas{
	background-color: #fbfaf8;
	position: relative;
	margin-top: 40px;
	overflow: hidden;
}
.ideas-wrap{
	padding-top: 100px;
	max-width: 1300px;
	margin:0 auto;
	text-align: center;
}
.ideas-wrap b {
	font-size: 24px;
	color:#555555;
}
.ideas-wrap p{
	font-size: 18px;
	color:#8c8c8c;
}

.ideas-bg{
	padding-top: 40px;
	width:100%;
}
.ideas-bg img {
	width:100%;
}
.waxom{
	position: relative;
	margin-top:-5px;
	height: 90px;
	overflow: hidden;
    background: -webkit-linear-gradient(left, #1e5799 0%, #207cca 0%, #291f1c 0%, #5b3727 100%);
    background: -o-linear-gradient(left, #1e5799 0%, #207cca 0%, #291f1c 0%, #5b3727 100%);
    background: linear-gradient(to right, #1e5799 0%, #207cca 0%, #291f1c 0%, #5b3727 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	
}
.waxom-wrap{
	position:relative;
	max-width: 1300px;
	margin:0 auto;
}
.waxom-text{
	float: left;
	padding-top: 22px;
	padding-bottom: 23px;

}
.waxom-text span{
	color:#ffffff;
	font-size: 24px;
	margin-top: 10px;
	padding-left: 10px;
}
.waxom-text span.slogan{
	color:#c0ac94;
	padding-left: 0;
}
.waxom-text p{
	color: #615855;
}
.waxom-wrap a{
	margin-top:23px;
	font-size: 18px;
	background-color: #998675;
	display: block;
	float:right;
	padding:10px; 
	color:#ffffff;
	border-radius: 5px;
	transition: 0.3s;
}
.waxom-wrap a:hover{
	padding:10px 10px 10px 14px; 
}
																		/*projeckts**/
.projeckts{
	position: relative;
	margin-top: 80px;
}
.projeckts-wrap{
	text-align: center;
	max-width: 1300px;
	margin:0 auto;
}
.projeckts-text{
	text-align: center;
	max-width: 800px;
	margin:0 auto;	
}
.projeckts-text span {
	font-size: 24px;
	color:#555555;
}
.projeckts-text p{
	color:#8c8c8c;
	margin-top: 8px;
	font-size: 18px;
}
.button-wrap{
	margin-top: 40px;
}
.button-wrap button{
	cursor: pointer;
	margin-left: 8px;
	padding:10px 15px 10px 15px;
	background-color: transparent;
	border: 2px solid #ebebeb;
	border-radius: 5px;
}
.gelary-1,.gelary-2,.gelary-3,.gelary-4,.gelary-5{
	position: relative;
	margin-top: 40px;
	overflow: hidden;
	z-index:1
}
.gelary-2,.gelary-3,.gelary-4,.gelary-5{
	display:none;
}
.gelary-item{
	position: relative;
	float: left;
	padding-left:1%; 
	width:32%;
	overflow: hidden;
}
.gelary-item img {
	width:100%;
}
.caption{
	width:100%;
	height:82%;
	opacity: 0;
	position: absolute;
	top:0;
	transition: 0.3s;
	overflow: hidden;
}
.caption-row{
	margin-top:20%; 
}
.caption img{
	width:30px;
}
 .pos-1{
 	float: left;
	display:block;
	width:30px;
	margin-left: 25%;
}
.pos-2{
 	float: left;
	display:block;
	width:30px;
	margin-left:25%;
}
.gelary-item:hover .caption{
	opacity: 1;
	background-color:rgba(54,47,45,0.5);
}

.gelary-text{
	margin-top: -7px;
	position:relative;
	padding-top:10px;
	background-color:#fbfaf8;
	transition: 0.3s;
}
.gelary-item:hover .gelary-text{
	background-color:rgba(54,47,45,0.9);
}
.gelary-text span {
	margin-top: 50px;
	font-size: 24px;
	color:#998675;
	transition: 0.3s all;
}
.gelary-item:hover span{
	color:#d1d1d1;
}
.gelary-text p{
	font-size: 18px;
	color:#d1d1d1;
	transition: 0.3s;
}
.gelary-item:hover p{
	color:#998675;
}
.a-pos a{
	display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    width: 100px;
    margin: 40px auto 0 auto;
    background-color: #998675;
    transition: 0.3s all;
    color:#fff;
}
.a-pos a:hover{
	padding:0 5px 0 5px; 
}

																		/**video**/
.show-video{
	margin-top: 20px;
	position: relative;
	overflow: hidden;
}
.show-video img {
	width:100%;
}
.video-start{
	width:100%;
	position: absolute;
	top: 30%;
}
.video-start img {
	width:80px;
}
.video-start a{
	width:80px;
	overflow: hidden;
	display: block;
	margin: 0 auto;
}
.show-video-text{
	width:100%;
	position:absolute;
	top: 45%;
	text-align: center;
	color:#ffffff;
}
.show-video-text span {
	font-size: 24px;
}
.show-video-text p {
	font-size: 18px;
}
.show-video-text .time {
	padding-top: 40px;
	color:#998675;
}
																			/*mobile*/
.mobile{
	position: relative;
	margin-top: 80px;
}
.mobile-wrap{
	overflow: hidden;
}
.mobile-pos,.mobile-text{
	width:48%;
	float:left;
}
.photo-wrap-pos{
	max-width:423px;
	float:right;
	overflow: hidden;
}

.photo-wrap-pos img {
 	width:100%;
 	color:#555555;
 }
.mobile-text{
	padding-top: 10%;
	text-align: left;
}
.Excellent{
	font-size: 24px;
}
.mobile-text  p {
	font-size: 18px;
	padding-top: 10px;
	color:#8c8c8c;
}
.photo-ul ul {
	width:100%;
	padding:40px 0 20px 40px;
	list-style: none;
}
.photo-ul ul li{
	display:block;
	float: none;
	transition: 0.3s;
}
.photo-ul ul li:hover{
	padding: 5px 0 5px 0;
}
.photo-ul ul li .dot-pos{
	width:20px;
	top: 7px;
	position: relative;
	border-radius: 20px;
	height: 20px;
	display:inline-block;
	background-color:#998675;
}
 .line-1,.line-2 {
	position:absolute;
	width:8px;
	border-bottom: 2px solid #fff;
	z-index:2;  
}
.line-1{
	top:7px;
	right:5px;
	transform: rotate(30deg); 
}
.line-2{
	top:11px;
	right:5px;
	transform: rotate(-30deg); 
}
.text-pos{
	margin-left: 25px;
	font-size: 18px;
	color:#8c8c8c; 
}


																				/**seils**/
.seils{
	position: relative;
	margin-top:-10px;
	height: 200px;
	background: -webkit-linear-gradient(left, #1e5799 0%, #207cca 0%, #291f1c 0%, #5b3727 100%);
    background: -o-linear-gradient(left, #1e5799 0%, #207cca 0%, #291f1c 0%, #5b3727 100%);
    background: linear-gradient(to right, #1e5799 0%, #207cca 0%, #291f1c 0%, #5b3727 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.seils-wrap{
	position: relative;
	max-width:800px;
	margin:0 auto;
}
.seils ul {
	padding-top:20px;
	padding-bottom:10px;
	text-align: center;
	float:left;
	width:20%;
}
.seils ul li {
	font-size: 18px;
	color:#998675;
}
.seils ul li.number{
	font-size: 36px;
	color:#fff;
	padding: 10px 0 10px 0;
}
.line-3{
	height:30px;
	display:block;
	width:40px;
	margin: 0 auto;
	background-color:transparent;
	border-bottom: 2px solid #fff;
}
																	/**Recent-Posts**/
.Recent-Posts{
	position: relative;
	margin-top: 40px;
	
}
.Recent-Posts-wrap{
	max-width:1300px;
	margin:0 auto;
	text-align: center;
}
.Recent-Posts h3 {
	font-size: 24px;
	color:#555555;
}
.Recent-Posts-wrap p{
	font-size: 18px;
	padding-top: 15px;
	color:#8c8c8c;
	z-index: 12;
}
.Posts-wrap{
	max-width:1300px;
	margin:0 auto;
}
.slide-2{
	margin-top: 20px;
	position: relative;
	overflow: hidden;
}
.slide-2 img {
	width: 100%;
}
.sl-slide-2{
	width:32%;
	overflow: hidden;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
}
.slide-text-2{
	font-size: 16px;
	margin: 5px 5px 0 5px;
	position: relative;
	background-color: transparent;
	transition: 0.3s all;
}
.amet{
	font-size: 18px;
	color:#555555;
	transition: 0.3s; 
}
.slide-text-2 p{
	margin-top: 5px;
	color:#8c8c8c;
}
.slide-text-2 a{
	position: relative;
	width:120px;
	margin-top: 5px;
	display:block;
	float: left;
	font-size: 16px;
	color:#998675;
	transition: 0.3s; 
}
.line-4,.line-5{
	position: absolute;
	width:6px;
	top: 7px;
	right:10px;
	border-bottom:2px solid #998675;
	transition: 0.3s all;

}
.line-4{
	transform: rotate(50deg);
}
.line-5{
	top: 10px;
	transform: rotate(320deg);
}
.caption-2{
	position: absolute;
	top: 0px;
	width:100%;
	height: 100%;
	background-color: transparent;
	transition: 0.3s all;
}
.date-1{
	margin:5px 0 0 10px;
	width:20px;
	padding:7px;
	text-align: center;
	background-color: #363636;
	color: #fff;
	font-size: 18px;
	transition: 0.3s all;
}
.date-2{
	font-size: 15px;
	margin: 0px 0 0 10px;
	width:20px;
	padding:2px 7px 2px 7px;
	text-align: center;
	background-color: #252525;
	color:#fff;
	transition: 0.3s all; 
}
.sl-slide-2-wrap{
	position: relative;
	overflow: hidden;	
}
.sl-slide-2-wrap:hover .caption-2{
	background-color:rgba(54,47,45,0.6);
}
.sl-slide-2-wrap:hover.amet{
	color: #998675;
}
.sl-slide-2-wrap:hover a{
	color:#c7b299;
}
.sl-slide-2-wrap:hover .line-4,.line-5{
	border-bottom:solid 2px #c7b299;
}
.sl-slide-2-wrap:hover p{
	color:#fff;
}
.sl-slide-2-wrap:hover .date-1{
	background-color: #c7b299;
}
.sl-slide-2-wrap:hover .date-2{
	background-color: #a48d72;
}
																			/**partners**/
.partners{
	margin-top: 40px;
	position: relative;
	overflow: hidden;
}
.partners img{
	width:100%;
}
.partners-row{
	position: absolute;
	top: 0px;
	width:100%;
}
.partners-pos{
	position: relative;
	max-width:1300px;
	margin: 5% auto 0 auto; 
}
.partners-pos span {
	display:block;
	width:20%;
	float: left;
	margin-left:5%;
	overflow: hidden;
} 
.logo-pos{
	margin-top:25px;
}
																	/**footer**/
.footer{
	margin-top:-5px; 
	position: relative;
	background-color: #000000;
	height: 120px;
}
.footer-wrap{
	max-width:1300px;
	margin: 0 auto;
	padding:50px 0 50px 0; 
}
.footer-wrap .ul-1{
	float: left;
}
.footer-wrap ul li {
	float: left;
	border-right:1px solid#666666;
}
.footer-wrap ul li.last{
	border-right: none; 
}
.footer-wrap ul li a{
	font-size: 16px;
	color:#666666;
	display: block;
	padding: 5px 8px 5px 8px;
	transition: 0.3s;
}
.whiti{
	color:#959595;
}
.other{
	color:#c7b299;
}
.footer-wrap ul li a:hover{
	font-size: 18px;
}
.footer-wrap .ul-2{
	float: right;
}

																			/**адаптивность**/
@media screen and (max-width: 1250px){
	.works-wrap{
		width:100%;
	}
	.works-wrap ul {
		max-width:none;
		width:48%;
	}
	.photo-wrap{
		width:30%;
	}
	.photo-wrap2{
		width:68%;
		overflow: hidden;
	}
	.gelary-item {
    position: relative;
    float: left;
    padding-left: 1%;
    width: 48%;
    overflow: hidden;
}
}
@media screen and (max-width: 920px){
	.nav{
		margin: 60px auto 0 auto;
		width:100%;
	}
	.search-holder {
    position: absolute;
    top: 30px;
	}
	.nav-brand {
		display: block;
		margin: 0 auto;
		width: 30%;
	}
	.nav-bar{
		width: 0;
		margin-top: 5px;
	}
	.collapse{
		position: absolute;
		display: none;
		left: 0px;
	}
	.collapse ul li{
		float: none;
	}
	.collapse ul li a{
		color: #998675;
		padding: 5px;
	}
	.btn_menu{
		display: block;
	}
	.photo-pos{
		padding-top: 0;
	}
	.ideas-wrap{
		padding-top: 50px;
	}
}

@media screen and (max-width: 720px){
	.disgn{
		display:none;
	}
	.slide {
		min-height:500px;
	}
	.text-row {
	    text-align: center;
	    max-width: 370px;
	    margin: -20px auto;
	}
	.mobile-text{
		padding-top: 0px;
	}
	.video-start{
		top: 40px;
	}
	.show-video-text .time{
		padding-top: 10px; 
	}
	.mobile-pos{
	width:0%;
	}
	.mobile-text{
		width:100%;
		padding-left: 5px;
	}
	.seils{
		margin-top: 30px;
	}

}
@media screen and (max-width: 609px){
	.slide img {
	width: 200%;
	min-height: 500px;
	}
	.nav-brand {
    width: 40%;
	}
	.slide-text {
    position: absolute;
    width: 100%;
    top: 35%;
    z-index: 4;
    color: #ffffff;
	}
	.sl-slide-2{
		width: 48%;
	}
	.show-video{
		min-height:300px; 
	}
	.show-video>img {
		min-height:300px;
		width: 120%; 
	}
}
@media screen and (max-width: 480px){
	.nav-brand {
    width: 50%;
	}
}
